<ion-modal-view>
  <ion-content style="background-color:#FF5252">
    <div class="row">
      <div class="col col-20" ng-click="modal.hide()">
        <div class="home exitButtonStyle">
          T
        </div>
        </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p class="titlesOfTheTutorial">¿Cómo canjeo mis premios?</p>
      </div>
    </div>
    <div class="row sombra" style="height:60%;background:#FF5252">
      <div class="col verticalCenteredObjects">
        <!-- <img style="width:100%;height:220px" src="img/canjea.gif" alt=""/> -->
        <img style="width:100%;height:220px" src="img/canjea.gif" alt=""/>
      </div>
    </div>
    <div class="row miniTutorialDescription boxDescriptionIntoTutorial">
      <div class="col verticalCenteredObjects">
        <span class="pointTextDescription">
          <strong>Pide el Código de Verificación</strong> en cualquier <br> tienda de la marca registrada e ingresalo en el App de Frenzy.
        </span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
