<ion-modal-view>
  <ion-content class="getUpBackground">
    <div class="row">
      <div class="col col-20" ng-click="modal.hide()">
        <div class="home" style="color:rgba(241, 242, 242, 0.61);font-size:50px">
          T
        </div>
        </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p class="titlesOfTheTutorial">¿Dónde consigo el Código de <br> Promoción?</p>
      </div>
    </div>
    <div class="row sombra" style="height:60%;background:#00DDC1">
      <div class="col verticalCenteredObjects">
        <img style="width:100%;height:220px" src="img/insertCode.gif" alt=""/>
      </div>
    </div>
    <div class="row miniTutorialDescription" style="background:white;height:23%">
      <div class="col verticalCenteredObjects">
        <span style="padding-left:5%;font-size:16px;font-family:Roboto, Helvetica, San Fransisco">
          <strong>Consigue los Códigos</strong> al consumir <br> en las marcas registradas e ingrésalos en Frenzy App.
        </span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
