<ion-modal-view>
  <ion-content class="getUpBackground">
    <div class="row">
      <div class="col col-20" ng-click="modal.hide()">
        <div class="home exitButtonStyle">
          T
        </div>
        </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p class="titlesOfTheTutorial">¿Dónde consigo el Código de <br> Promoción?</p>
      </div>
    </div>
    <div class="row sombra backgroundGifInsertCode">
      <div class="col verticalCenteredObjects">
        <img class="gifStyle" src="img/insertCode.gif" alt="insertCodeFrenzy"/>
      </div>
    </div>
    <div class="row miniTutorialDescription boxDescriptionIntoTutorial">
      <div class="col verticalCenteredObjects">
        <span class="pointTextDescription">
          <strong>Consigue los Códigos</strong> al consumir <br> en las marcas registradas e ingrésalos en Frenzy App.
        </span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
