<ion-modal-view>
  <ion-content class="winPointsBackground">
    <div class="row">
      <div class="col col-20" ng-click="modal.hide()">
        <div class="home exitButtonStyle">
          T
        </div>
        </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <p class="titlesOfTheTutorial">¿Cómo gano y cambio puntos?</p>
      </div>
    </div>
    <div class="row sombra backgroundGifPoints" style="">
      <div class="col verticalCenteredObjects">
        <img class="gifStyle" src="img/puntos.gif" alt="pointsFrenzy"/>
      </div>
    </div>
    <div class="row miniTutorialDescription boxDescriptionIntoTutorial">
      <div class="col verticalCenteredObjects">
        <span class="pointTextDescription">
          Al ingresar los codigos de promoción podrías <br> <strong>ganar y acumular Puntos </strong> en Frenzy App. <br>
          Cambia los puntos por premios ingrensando a <br>
          las marcas.
        </span>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
