<ion-modal-view>
  <ion-content style="background-color:#9C28B0;padding:10px 0px 10px 0px">
    <div class="row">
      <div class="col col-20" ng-click="SecondModal.hide()">
        <div class="home" style="color:rgba(241, 242, 242, 0.61);font-size:50px">
          T
        </div>
        </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row" style="padding-left:10%;padding-right:10%">
      <div class="col principalWinContainer">
        <!-- Div Central -->
        <div class="container verticalCenteredObjects center" style="background-color:white;height:150px;border-radius: 4px 4px 0px 0px;">
          <div>
            <div class="row">
              <!-- Customer Image -->
              <div class="col col-100">
                <div class="" style="width:60px;height:60px;border:1px solid #A7A9AC;border-radius:4px;margin:0 auto">
                  <img style="width:100%;border-radius:4px;padding:10%" ng-src="{{modalInfo.Logo}}" alt="" />
                </div>
              </div>
            </div>
            <!-- You Win Text -->
            <div class="row center" style="margin-top:5px">
              <span class="open_sans" style="color:#263147;font-size:19px">¡GANASTE!</span>
            </div>
            <!-- You Win Points Cant -->
            <div class="row center" style="margin-top:5px">
                <span style="color:blue;font-size:16px" ng-if='modalInfo.type == "Points"'>+ {{modalInfo.Points}} Puntos</span>
                <span style="color:blue;font-size:16px" ng-if='modalInfo.type == "directAward"'>{{modalInfo.NameAward}} </span>
            </div>
          </div>
        </div>
        <!-- Star Image -->
        <div class="row" style="background-color:#FF5252;height:150px;margin-top:0;padding:0;border-radius: 0px 0px 4px 4px;">
          <img style="width:100%;" src="img/stars.png" alt="starWin" ng-if='modalInfo.type == "Points"' />
          <img style="width:100%;" src="{{modalInfo.Photo}}" alt="starWin" ng-if='modalInfo.type == "directAward"' />
        </div>
      </div>
    </div>
    <br>
    <!-- Your Points has added -->
    <div class="row">
      <div class="col center">
        <span style="color:white;font-family:Roboto, Helvetica, San Fransisco" ng-if='modalInfo.type == "Points"'>Tus Puntos fueron agregados en <br> {{modalInfo.Name}}.</span>
        <span style="color:white;font-family:Roboto, Helvetica, San Fransisco" ng-if='modalInfo.type == "directAward"'>Puedes ver lo que has ganado en premios</span>

      </div>
    </div>
  </ion-content>

</ion-modal-view>
