/*div {
  border:1px solid red;
}*/

.principalWinContainer {
  padding: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0px #333;
  -moz-box-shadow: 2px 2px 10px 0px #333;
  -webkit-box-shadow:2px 2px 10px 0px #333;
}

.arrowAnimate {
  position :relative;
  -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
  animation: mymove 0.5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    50% {top: 10px;}
    100% {top: 20px;}
}
