<ion-view>
	<!-- Offers Description With and Without Image -->
	<ion-content id="CouponScroll" style="background-color:#F1F2F2;">
		<!-- Label Price -->
		<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
		<!-- Price Text Offers -->
		<div class="row BoxPriceLabel" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
			<div class="col col-33 BoxLabel">
				<p id="NothingSpace" class="cuponsDescriptionsLabelExchance" >
					Ahorra
				</p>
				<p class="pageFavoritesSavingPrice">
					<!-- TODO use currency Q -->
					Q. {{promotion.BasePrice - promotion.PromotionalPrice}}
				</p>
			</div>
		</div>
		<!-- Coupon Image -->
		<img class="full-image" src="{{promotion.Photo}}" alt="PhotoOffersFrenzy">
		<!-- Purple Container -->
		<div class="PurpleCouponsDescription">
			<div class="row">
				<div class="col col cuponsDescriptionTitle open_sans">
					{{promotion.Name}}
				</div>

			</div>
		</div>
		<!-- Semi-Circle Container -->
		<div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<!-- Description and Statements -->
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripción de la Oferta</p>
		</div>
		<!-- Coupon Description -->
		<div>
			<p class="couponsDescriptionMainDescription">
				{{promotion.PromotionDescription}}
			</p>
		</div>
		<br>

		<a href="#/app/termsAndConditionsOffers/{{promotion.$id}}" ng-if="promotion.TermsAndConditions">
			<div class="bar subFooter" style="position:absolute;bottom:0">
				<div class="LegalTerms verticalCenteredObjects col col-90">Términos y Condiciones</div>
				<div id="Terms" class="TermButton button icon icon-right ion-chevron-right col"></div>
			</div>
		</a>
		</div>
	</ion-content>
</ion-view>
