<ion-view>
	<ion-content id="CouponScroll" style="background-color:#F1F2F2;">
		<!-- Label Price -->
		<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" style="display:{{super.display}};">
		<!-- Price Text Offers -->
		<div class="row BoxPriceLabel">
			<div id="GeneralPaddingCols0" class="col col-25 BoxLabel">
				<p id="NothingSpace" class="cuponsDescriptionsLabelExchance">
					Ahorra
				</p>
				<p class="pageFavoritesSavingPrice">
					Q.100
				</p>
			</div>
		</div>
		<!-- Coupon Image -->
		<img class="cuponsDescriptionImage" src="https://upload.wikimedia.org/wikipedia/en/3/3e/Pega-logo-300px.jpg" alt="nissan">
		<!-- Purple Container -->
		<div class="PurpleCouponsDescription">
			<div class="row">
				<div class="col col-80 cuponsDescriptionTitle open_sans">
					Presentacion
				</div>
				<div class="col col-20">
					<div class="cuponsDescriptionPinCircle home">W</div>
				</div>
			</div>
		</div>
		<!-- Semi-Circle Container -->
		<div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<!-- Description and Statements -->
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripccion y Condiciones</p>
		</div>
		<!-- Coupon Description -->
		<div>
			<p class="couponsDescriptionMainDescription">
				Descripcion de la Oferta
			</p>
		</div>
		<br>
			<!-- style="position:{{HideStyleButtonExchangePosition}};bottom:{{HideStyleButtonExchangeBottom}}" -->
			<div class="bar subFooter" style="position:{{HideStyleButtonExchangePosition}};bottom:{{HideStyleButtonExchangeBottom}}">
				<div class="LegalTerms verticalCenteredObjects col col-90">Términos Legales</div>
				<div class="TermButton">
					<a id="Terms" class="button icon icon-right ion-chevron-right col" href="#/app/termsAndConditions"></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
