.pageOffertsBoxRedStyle {
    background-color:#FF5252;
    height:200px;
    width:100%;
    margin-top: -27px;
    margin-bottom: -5px;
}

.arrow-up2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #FF5252 transparent;
}

.arrow-up-left2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 0 12px;
    border-color: transparent transparent transparent #FF5252;
    margin-left: -5px;
}

.arrow-dow-left2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 12px 0 0;
    border-color: #FF5252 transparent transparent transparent;
    margin-left: -5px;
}

.arrow-dow2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 10px 0 10px;
    border-color: #FF5252 transparent transparent transparent;
}

.clownStyle {
    color:#00DDC1;
    font-size:70px;
    text-align: center;
    padding-top: 30px;
}