<style>
    .bar.bar-positive    {
    box-shadow: 0 0 0px white;
    }
</style>
<ion-view>
    <ion-content style="background-color:#F1F2F2;">
        <!--**********************************************************************-->
        <img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label">
        <!--*****  PRICE LABEL OFFERTS  *****-->
        <div class="row pageFavoritesBoxPriceLabel">
            <div class="col col-25">
                <p class="cuponsDescriptionsLabelExchance">
                    Ahorra
                </p>
                <p class="pageFavoritesSavingPrice">
                    Q.100
                </p>
            </div>
        </div>
        <img class="cuponsDescriptionImage" src="img/pollo.JPG" alt="nissan">
        <div class="cuponsDescriptionDiv2">
            <div class="row">
                <div class="col col-75 cuponsDescriptionTitle open_sans">
                    pollo rey - pollo sin menudo libra
                </div>
                <div class="col col-25">
                    <div class="cuponsDescriptionPinCircle home">W</div>
                </div>
            </div>
        </div>
        <div class="row cuponsDescriptionDiv3">
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
            <p class="semi-circulo"></p>
        </div>
        <br>
        <div>
            <p class="cuponsDescriptionTitleDescription">Descripccion y Condiciones</p>
        </div>
        <div>
            <p class="cuponsDescriptionMainDescription">
                Another trick up flexbox's sleeve is the ability to easily vertically align columns. Vertical alignment includes top, center and bottom, and can be applied to every column in a row, or to specific columns.
            </p>
        </div>
        <br>
        <!--*****************  ORANGE BOX STYLE  ******************-->
    </ion-content>
</ion-view>
