/*Back Button header vertical centered*/
#backButtonVerticalCentered.backButtonVerticalCentered {
  padding:0px;
  text-align:center;
  height:100%;
}
/*Back button header style*/
#styleBackButton.styleBackButton {
  font-size:25px;
  color:white;
  position:absolute;
  left:2%;
  z-index:1;
  width: 45px;
}
/*Text vertical centered and text style*/
.categoriesHeaderText {
  font-size:18px;
  /*For vertical centered*/
  height:30px;
  width:100%;
  font-weight: bold;
  display:flex;
  align-items:center;
  justify-content:center;
}
/*Font size for Frenzy title*/
.frenzyTitlePageStart {
  /*font-size: 60px;
  font-weight: normal;
  border: 1px solid red;*/
}
/*Style for to quit border of footer*/
#footerStyle {
  border-style:none;
}
/*Div into footer for vertical center*/
.footerVerticalCenter {
  margin-top: -5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  line-height: 90%;
}
/*Icon footer Style*/
.iconFooterStyle {
  height:100%;
  font-size:25px;
}
/*Footer Color Menu*/
.footerMenuStyle {
  padding:0;
  background-color:#E6E7E8;
}
/*Icon Text footer*/
.footerTextIcon {
  font-family: Roboto, Helvetica, San Fransisco;
  font-size: 10px;
}
/*Tools Button position*/
.toolsButton {
  font-size: 36px !important;
  float: right;
  margin-top: -30px;
}
