<!-- <ion-side-menus  enable-menu-with-back-views="false"> -->
  <style>
    /*This Style works for to hide ionic header line */
    #BorderNone.bar-positive {
      border: 0px !important;
      border-bottom-color: transparent !important;
      background-image: none !important;
      border-bottom: none !important;
    }
  </style>
  <!-- <ion-side-menu-content > -->
    <!--***** barra de contenido principal class="barraMenu" *****-->
    <ion-nav-view name="menuContent">
      <!-- Back Header for Offers, Offers Description, Coupons, Customer -->
      <ion-header-bar id="BorderNone" align-title="left" class="bar-positive">
        <div id="backButtonVerticalCentered" class="col backButtonVerticalCentered">
          <!-- Back Button -->
          <button id="styleBackButton" class="ion-chevron-left button-clear styleBackButton" ng-if="data.backButton" onclick="goBack()" nav-transition="none"></button>
          <!-- Header Text -->
          <span class="categoriesHeaderText">{{data.heading}}<img class="frenzyTitlePageStart" ng-src="{{data.image}}" ng-if="data.image"></span>
        </div>
      </ion-header-bar>
      <!-- Principal Footer for Home, Heart, Pin and Tools views -->
      <ion-footer-bar id="footerStyle" class="bar-stable">
        <item-content class="row home">
          <!-- Home Icon Footer -->
          <div class="col col-25 footerVerticalCenter">
            <a href="#/app/playlists" style="color:{{data.footerIconColors[0]}};text-decoration:none" nav-transition="none">
              <div class="iconFooterStyle">A</div>
            </a>
          </div>
          <!-- Heart Icon Footer -->
          <div class="col col-25 footerVerticalCenter">
            <a href="#/app/tusFavoritos" style="color:{{data.footerIconColors[1]}};text-decoration:none" nav-transition="none" > <!-- onclick="viewFavorite()" -->
              <div class="iconFooterStyle">B</div>
            </a>
          </div>
          <!-- Pin Icon Footer -->
          <div class="col col-25 footerVerticalCenter">
            <a href="#/app/salvados" style="color:{{data.footerIconColors[2]}};text-decoration:none" nav-transition="none" >
              <div class="iconFooterStyle">W</div>
            </a>
          </div>
          <!-- Tools Icon Footer -->
          <div class="col col-25 footerVerticalCenter">
            <a href="#/app/herramientas" style="color:{{data.footerIconColors[3]}};text-decoration:none" nav-transition="none">
              <div class="iconFooterStyle">D</div>
            </a>
          </div>
        </item-content>
      </ion-footer-bar>
    </ion-nav-view>
  <!-- </ion-side-menu-content>
</ion-side-menus> -->
