<!-- The classes that are not can be found in login2.css  -->
<ion-view class="BackgroundColorLogin LoginCenteredDiv">
  <ion-content ng-app="ionicApp">
    <!-- Header Bar -->
    <!-- <div class="row PositionHeaderBar">
      <div id="#GeneralPaddingCols0" class="col col-10">
        <a href="#loginAndRegister">
          <button class="button ion-chevron-left BackButtonStyleLogin"></button>
        </a>
      </div>
      <div id="#GeneralPaddingCols0" class="col"></div>
    </div> -->
    <!-- Back Header to Register and Login -->
    <ion-header-bar class="BackgroundHeader" align-title="left">
      <div class="col col-10">
        <a href="#loginAndRegister">
          <button id="BackButtonStyleLogin2" class="button ion-chevron-left button-clear BackButtonStyleLogin2"></button>
        </a>
      </div>
      <div class="col"></div>
    </ion-header-bar>
    <!-- Principal Container -->
    <div class="row">
      <div id="#GeneralPaddingCols0" class="col col-10"></div>
      <div id="#GeneralPaddingCols0" class="col col-80 mainDiv">
        <!-- Penguin Container -->
        <div class="row">
          <div id="#GeneralPaddingCols0" class="col PenguinIconCenter">
            <!-- Penguin Icon -->
            <img class="PenguinSize" src="img/pinguino.png" alt="penguin"/>
            <!-- Login Text -->
            <p class="title-spacing">Inicia Sesión</p>
          </div>
        </div>
        <hr class="DivingLineUp" color='#F1F2F2'>
        <!-- Row Main-->
        <div class="row PaddingDiv">
          <div id="#GeneralPaddingCols0" class="col col-100 open_sans">
            <!-- Email Text -->
            <p class="EmailTextLogin Left10px">Correo electrónico</p>
            <!-- Email Input Box -->
            <label class="item item-input inputBox">
              <input type="email" ng-model="user.username" placeholder="correo@ejemplo.com">
            </label>
            <!-- Password -->
            <p class="PasswordTextLogin Left10px">Contraseña</p>
            <!-- Password Input Box -->
            <label class="item item-input inputBox">
              <input type="password" ng-model="user.password">
            </label>
            <div class="PaddingSignUpButton">
              <center>
                <div class="enterButtonStyle" ng-click='login()'>
                  <div class="enterButtonTitle open_sans">
                    Entrar
                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
      </div>
      <div id="#GeneralPaddingCols0" class="col col-10"></div>
    </div>
    <!-- Info Login Container -->
    <div class="row" ng-controller="loginCtrlFacebook">
      <div id="#GeneralPaddingCols0" class="col col-10"></div>
      <div id="#GeneralPaddingCols0" class="col col-80" ng-controller="loginCtrlFacebook">
        <p class="InfoLoginText open_sans">
          Inicia sesión con Facebook o crea una cuenta.
        </p>
        <div class="row PaddingBeforeButtons">
          <!-- Sign Up Button -->
          <div id="#GeneralPaddingCols0" class="col col-50 emailLoginButton verticalAndHorizontalCenteredObjects">
            <a class="redirectionStyleNone" href="#/login2" nav-transition="none">
              <div id="SignUpTextCenter" class="singupTitle open_sans">
                Regístrate
              </div>
            </a>
          </div>
          <!-- Facebook Login Button -->
          <div id="#GeneralPaddingCols0" class="col col-50 fbLoginButton" ng-click="loginfb()">
            <div id="FacebookTextCenter" class="FacebookTextLogin">
              Facebook
            </div>
          </div>
        </div>
      </div>
      <div id="#GeneralPaddingCols0" class="col col-10"></div>
    </div>
    <button class="button-block button-clear" ng-click="forgot()">
      <p class="forgotYourPassword">¿Olvidaste tu contraseña?</p>
    </button>
  </ion-content>
</ion-view>
