<ion-view>
  <ion-content>
    <!-- Promotion Saved -->
    <div class="row savedPageBoxStyle" ng-repeat="promotion in promotions" ng-if="pins[promotion.$id]">
      <!-- Saved Image Promotion -->
      <div class="col col-20 verticalAndHorizontalCenteredObjects">
        <img class="savedPageImage" alt="PhotoSavedPromotions" ng-src="{{promotion.Photo}}">
      </div>
      <!-- Saved Title Description -->
      <div class="col col-80 SavedDescriptionPosition">
        <div id="NothingSpace" class="savedPageTitleDescription">
          {{promotion.Name}}
        </div>
        <div class="row">
          <div id="no-PaddingLeft" class="col col-80">
            <!-- Saved Text Description -->
            <spam class="savedPageOffert">
              Oferta {{promotion.PromotionalPrice | currency: 'Q'}}
            </spam>
            <p id="NothingSpace" class="savedPageDescription">
              {{promotion.PromotionDescription}}
            </p>
          </div>
          <!-- Pin Icon -->
          <div class="col home pinIconContainer" ng-controller="pinCtrl">
            <p class="savedPageIcon pageYourFavoritesIconPin" id="{{Promotion.$id}}" ng-click="changeColorPinCupon(promotion.$id)" style="color:{{pins[promotion.$id] ? 'purple':''}}">
              W
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Coupon Saved -->
    <div class="row savedPageBoxStyle" ng-repeat="cupon in coupons" ng-if="pins[coupon.$id]">
      <!-- Saved Image Promotion -->
      <div class="col col-20 verticalAndHorizontalCenteredObjects">
        <img class="savedPageImage" alt="PhotoSavedPromotions" ng-src="{{cupon.PhotoCupon._url}}">
      </div>
      <!-- Saved Title Description -->
      <div class="col col-80 SavedDescriptionPosition">
        <p id="NothingSpace" class="savedPageTitleDescription">
          {{cupon.Presentation}}
        </p>
        <div class="row">
          <div id="no-PaddingLeft" class="col col-80">
            <!-- Saved Text Description -->
            <spam class="savedPageOffert">
              Cupon {{cupon.Canjea | currency: 'Q'}}
            </spam>
            <p id="NothingSpace" class="savedPageDescription">
              {{cupon.Description}}
            </p>
          </div>
          <!-- Pin Icon -->
          <div class="col home pinIconContainer" ng-controller="pinCtrl">
            <p class="savedPageIcon pageYourFavoritesIconPin" id="{{cupon.PromotionId}}" ng-click="changeColorPinCupon(promotion.$id)" style="color:{{pins[promotion.$id] ? 'purple':''}}">
              W
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Doesn't exist Your Favorites -->
    <div ng-if="pinsCount < 1" class="noExisteSaved">
      <div class="open_sans">
        <!-- Donkey Icon -->
        <p class="home savedPageNoItemsIcon">
          f
        </p>
        <!-- Description -->
        <p class="savedPageNoItemsTitle">
          Uh-uH
        </p>
        <p class="savedPageNoItemsDescription">
          No tienes ningún elemento agregado a<br>
          esta lista. Agrega ofertas y cupones<br>
          para usarlos después.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
