<ion-view>
  <ion-content>
    <!-- Promotion Saved -->
    <div class="row savedPageBoxStyle" ng-repeat="promotion in chats | filter: {oferta : 'existe'}">
      <!-- Saved Image Promotion -->
      <div class="col col-20 verticalAndHorizontalCenteredObjects">
        <img class="savedPageImage" alt="PhotoSavedPromotions" src="{{promotion.photo}}">
      </div>
      <!-- Saved Title Description -->
      <div class="col col-80 SavedDescriptionPosition">
        <div id="NothingSpace" class="savedPageTitleDescription">
          {{promotion.name}}
        </div>
        <div class="row">
          <div id="no-PaddingLeft" class="col col-80">
            <!-- Saved Text Description -->
            <spam class="savedPageOffert">
              Oferta {{promotion.promotionalPrice | currency: 'Q'}}
            </spam>
            <p id="NothingSpace" class="savedPageDescription">
              {{promotion.description}}
            </p>
          </div>
          <!-- Pin Icon -->
          <div class="col home pinIconContainer">
            <p class="savedPageIcon pageYourFavoritesIconPin" id="{{promotion.IDpromotion}}" ng-click="SalvadosSaveAndDelete('{{promotion.IDpromotion}}')" style="color:{{promotion.ColorPin}}">
              W
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Coupon Saved -->
    <div class="row savedPageBoxStyle" ng-repeat="promotion in chats | filter: {cupon : 'existe'}">
      <!-- Saved Image Promotion -->
      <div class="col col-20 verticalAndHorizontalCenteredObjects">
        <img class="savedPageImage" alt="PhotoSavedPromotions" src="{{promotion.PhotoCupon._url}}">
      </div>
      <!-- Saved Title Description -->
      <div class="col col-80 SavedDescriptionPosition">
        <p id="NothingSpace" class="savedPageTitleDescription">
          {{promotion.Presentation}}
        </p>
        <div class="row">
          <div id="no-PaddingLeft" class="col col-80">
            <!-- Saved Text Description -->
            <spam class="savedPageOffert">
              Cupon {{promotion.Canjea | currency: 'Q'}}
            </spam>
            <p id="NothingSpace" class="savedPageDescription">
              {{promotion.description}}
            </p>
          </div>
          <!-- Pin Icon -->
          <div class="col home pinIconContainer">
            <p class="savedPageIcon pageYourFavoritesIconPin" id="{{promotion.PromotionId}}" onclick="SalvadosSaveAndDelete(id)" style="color:purple">
              W
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Doesn't exist Your Favorites -->
    <div ng-repeat="promotion in chats  | filter: {oferta : 'noHay'}" class="noExisteSaved">
      <div class="open_sans">
        <!-- Donkey Icon -->
        <p class="home savedPageNoItemsIcon">
          f
        </p>
        <!-- Description -->
        <p class="savedPageNoItemsTitle">
          Uh-uH
        </p>
        <p class="savedPageNoItemsDescription">
          No tienes ningún elemento agregado a<br>
          esta lista. Agrega ofertas y cupones<br>
          para usarlos después.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
