.mainFrenzyTitle {
    font-size: 65px;
}

.iconoMenu {
    color: white;
    text-align: center;
    margin-top: 11px;
    font-size: 35px;
    padding-top: 19px;
}

.pageStartColWithNameCuponsPromotions {
    margin-left: 45px;
}

.pageStartCategoriesName {
    margin-top: -15px;
}

.pageStartCuponsPromotions {
    margin-top: -1px;
}

.pageStartCuponsPromotionsTitle {
    font-size: 13px;
}

.pageStartSeparationLine {
    margin-top: 5px;
    height: 0.1px;
    color: #F1F2F2;
    border-style: solid;
}

.icon_supermercado {
    background-color: #00BAB9;
}

.icon_restaurante {
    background-color: #FF5252;
}

.icon_moda {
    background-color: #FFD922;
}

.icon_entretenimiento {
    background-color: #9C28B0;
}

.icon_electronico {
    background-color: #3F51B5;
}

.icon_otro {
    background-color: #00DDC1;
}

.imagen {
    height: 175px;
    width: 175px;
}

.pageStartIconsStyleGeneraly {
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}

.icon_supermercado {
    background-color: #00BAB9;
}

.icon_restaurante {
    background-color: #FF5252;
}

.icon_moda {
    background-color: #FFD922;
}

.icon_entretenimiento {
    background-color: #9C28B0;
}

.icon_electronico {
    background-color: #3F51B5;
}

.icon_otro {
    background-color: #00DDC1;
}
.pageStartBoxPurple {
    background-color: #9C28B0;
    height: 200px;
    width: 100%;
}

.pageStartBoxPurpleIcon {
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    color: #00DDC1;
}

.pageStartBoxPurpleTitle {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

.pageStartListStyle {
    height:65px;
    border:none;
    border:dislplay;
    margin-top:10px;
}

.pageStartIconCategories {
    margin-top:-30px;
}

/************************************************/

.zigzag {
position: relative;
width: 100%;
height: 200px;
}
.zigzag:before {
content: "";
display: block;
position: absolute;
top: -9px;
width: 100%;
height: 10px;
}
.container2 {
background: #9C28B0;
}
.container2:before {
background:
  linear-gradient(
    45deg, transparent 33.333%,
    #9C28B0 33.333%, #9C28B0 66.667%,
    transparent 66.667%
  ),
  linear-gradient(
    -45deg, transparent 33.333%,
    #9C28B0 33.333%, #9C28B0 66.667%,
    transparent 66.667%
  );
background-size: 20px 40px;
}



.container4 {
background: white;
height: 20px;
}
.container4:before {
background:
  linear-gradient(
    45deg, transparent 33.333%,
    white 33.333%, white 66.667%,
    transparent 66.667%
  ),
  linear-gradient(
    -45deg, transparent 33.333%,
    white 33.333%, white 66.667%,
    transparent 66.667%
  );
background-size: 20px 40px;
}

.container5 {
  background-color: ;
  opacity: 0;
  height: 80px;
}
.container5:before {
background:
  linear-gradient(
    45deg, transparent 33.333%,
    #E6E7E8 33.333%, #E6E7E8 66.667%,
    transparent 66.667%
  ),
  linear-gradient(
    -45deg, transparent 33.333%,
    #E6E7E8 33.333%, #E6E7E8 66.667%,
    transparent 66.667%
  );
background-size: 20px 40px;
}
.container6 {
background: #F1F2F2;
opacity: 0.9;

}
.container6:before {
background:
  linear-gradient(
    45deg, transparent 33.333%,
    #F1F2F2 33.333%, #F1F2F2 66.667%,
    transparent 66.667%
  ),
  linear-gradient(
    -45deg, transparent 33.333%,
    #F1F2F2 33.333%, #F1F2F2 66.667%,
    transparent 66.667%
  );
background-size: 20px 40px;
}
