<ion-view >
    <!--**********  BODY OF PAGE START  **********-->
    <ion-content  nav-transition="none"locking="false">
        <!--**********  LIST TO CREATE CATEGORIES FRENZY  **********-->
        <ion-list>
            <!--**********  LIST STYLE PAGE START  **********-->
            <ion-item href="#/app/playlists/{{category.CategoryName}}" ng-repeat="category in categorys" style="height:65px; border:none; border:dislplay;margin-top:10px;" id  = "{{category.direc}}">
              <category-info info ="category" ></category-info>
            </ion-item>
        </ion-list>
        <br>
        <!--**********  TRIANGLES TOP  **********-->
        <div class="container2 zigzag">
          <!--**********  CLOCK ICON  **********-->
              <h4 class="home pageStartBoxPurpleIcon">
                  c
              </h4>
              <h4 class="open_sans pageStartBoxPurpleTitle">
                  Espera por nuevas promociones..!!
              </h4></div>
        <div class="container4 zigzag"></div>
        <!--**********  TRIANGLES DOWN  **********-->

    </ion-content>
</ion-view>
