/*Background Color light-Gray for Customer Template*/
.backgroundCategories {
	background-color: #F1F2F2;
}
/* loading for Supermarket */
.LoadingSupermercado{
	stroke: #00BAB9;
	fill: #00BAB9;
}
/* loading for Restaurants */
.LoadingRestaurantes{
	stroke: #FBA340;
	fill: #FBA340;
}
/* loading for Fashion */
.LoadingModa{
	stroke: #9C28B0;
	fill: #9C28B0;
}
/* loading for Entertainment */
.LoadingEntretenimiento{
	stroke: #FFD922;
	fill: #FFD922;
}
/* loading for Electronics */
.LoadingElectronicos{
	stroke: #3F51B5;
	fill: #3F51B5;
}
/* loading for Others */
.LoadingOtros{
	stroke: #00DDC1;
	fill: #00DDC1;
}
