<!-- The classes that are not can be found in style.css  -->
<ion-view  view-title="{{AppCategory}}">
  <!-- Customers -->
  <ion-content class="backgroundCategories"  nav-transition="none"><!-- backgroundCategories class is found in categories_style.css -->
    <div id="PaddingBoxBefore" class="col"><!-- If this app is for IOS platform then modify to (margin-top:8px) -->
      <!-- Category Boxes -->
      <div id="PaddingBox" class="col col-50 categoriesBoxesEnlineBlock" ng-repeat="customer in chats | filter: {oferta : 'existe'} | orderBy:'-suma'">
        <customer-info info ="customer"></customer-info>
      </div>
      <!-- Doesn't exist Coupons or Promotions -->
      <div ng-repeat="customer in chats  | filter: {oferta : 'noHay'}">
        <div class="open_sans">
          <!-- Donkey Icon -->
          <p class="home savedPageNoItemsIcon">
            g
          </p>
          <!-- Description -->
          <p class="savedPageNoItemsTitle">
            Uh-ha-Ha-ha
          </p>
          <p class="savedPageNoItemsDescription">
            Espera nuestros monitos<br>
            están trabajando para traerte las<br>
            nuevas promociones para que ahorres a lo loco...!!
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
