<style>
.bar.bar-positive    {
	box-shadow: 0 0 0px white;
}
hr     {
	margin-bottom:-10px;
	font-weight:lighter;
	height: 3px;
	background-color: white;
}
</style>
<ion-view>
	 <!--*****  SECOND TAB HEADER  *****-->
		<div class="row pageFavoritesSecondRow" style="height:35px;margin-top:44px;position:absolute; z-index:1;">
			<!--**********  OFFERTS  **********-->
			<div class="col col-33">
				<a class="pageOffertsOffertsTitle"  href="#/app/ofertas/{{cupons[0][0].Category}}"  nav-transition="none">
					<!--*****  TITLE AND FUNCITION OFFERTS  *****-->
					<p class="pageFavoritesOurFavoritesTitle" style="color:#D8D8D8">
						Ofertas ({{ConteoPro[0].conteo}})
					</p>
					<!--**********  LINE DECORATION  **********-->
					<hr class="pageFavoritesLineDecoration" id="lineOffertsFunction"  style="background-color:#D8D8D8">
				</a>
			</div>
			<!--**********  CUPONS  **********-->
			<div class="col col-33">
				<a class="pageOffertsOffertsTitle" nav-transition="none">
					<!--*****  TITLE AND FUNCITION OFFERTS  *****-->
					<p class="pageFavoritesOurFavoritesTitle">
						Cupones ({{cupons[2][0].conteo}})
					</p>
					<!--**********  LINE DECORATION  **********-->
					<hr class="pageFavoritesLineDecoration">
				</a>
			</div>
			<!--**********  ICON POPOVER  *********-->
			<div class="col col-33">
				<div ng-repeat="s in cupons[1]">
					<div style="margin-top:0px; position:absolute;  z-index:1;" id = "{{s.name}}" ng-click="heartPopover('{{s.name}}')">
						<div>
							 <button class="popoverIcon home" ng-click="popover.show($event)"  ng-controller="PopoverCtrl2">
								<p class="pageOffertsPopoverSimbol" style="vertical-aling:middle;">
									N
								</p>
							</button>
						</div>
					</div>
				</div>
			</div>
	   </div>
	<!--**********  CONTENT  **********-->
	<ion-content class="pageFavoritesBodyColor" nav-transition="none">
		<div style="height:35px;"></div>
		<!--************  OFFERTS BODY WITH IMAGE **************-->
		<div ng-repeat = "cupon in cupons[0] | filter: {nul : 'con'}">
			<div class="nuevoDivContenedor">
				<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label">
					<!--*****  PRICE LABEL OFFERTS  *****-->
					<div class="row pageFavoritesBoxPriceLabel">
						<div class="col col-25">
							<p class="pageFavoritesSavingTitle">
								Canjea
							</p>
							<p class="pageFavoritesSavingPrice" style="margin-top:-10px; font-size:18px;">
								Q.{{cupon.Canjea}}
							</p>
						</div>
					</div>
					<!--*****  MAIN IMAGE FAVORITE PAGE  *****-->
					<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" ng-click="llenar2()">
						  <img class="imageOffertsAndCupons" src="{{cupon.PhotoCupon._url}}" alt="pollo" style="height:200px;">
					</a>
					<!--**********  TITLE DESCRIPTION  **********-->
				  	<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" style="text-decoration:none" ng-click="llenar2()">
			  	 	<div style=" height:40%; background-color:;">
					   	<div style="height:30%;">
						  	<p class="pageFavoritesDescriptionTitle open_sans">
						  		{{cupon.Presentation }}
							</p>
					   	</div>
						<!--**********  DESCRIPTION  **********-->
						<div class="ellipsify cajaTexto" style="height:50px;">
							<div class="ellipsify">
								<div class="pre-dots"></div>
								<div class="dots">&hellip;</div>
								<p class="pageFavoritesDescription open_sans">
							  		{{cupon.description}}
								</p>
								<span class="hidedots1"></span>
								<div class="hidedots2"></div>
							</div>
						</div>
					</div>
				  </a>
				 <!--*****  DIV TO PRICE AND ICONS  *****-->
				<div class="row pageFavoritesDivIcons open_sans" style="height:38px;align-items:center">
					<!--*****  ACTUAL PRICE  *****-->
					<div class="col-25" style="text-align:center;align-items:center;margin-left:5px">
						<a class="textDecorationNone" ng-click="llenar1('{{cupon.IDCupon}}')">
							<spam class="pageOffertExchance" style="color:#3F51B5; font-size:16px;">
						  		CANJEAR
							</spam>
						</a>
					</div>
					<!--*****   BEFORE PRICE  *****-->
					<div class="col-33"  style="text-align:center;align-items:center">
						<spam class="" style="color:silver;margin-top:-5px; font-size:17px;">
						   <!-- (7 dias) -->
						</spam>
					</div>
					<!--*****  ICONS  *****-->
					<div class="col-33" style="word-spacing:-30px;text-align:right;align-items:center">
						<!-- Url Shop online Icon -->
						<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl('{{cupon.ShopOnline}}')" style="display:{{cupon.Display}};font-size:23px;">
								j
						</spam>
							<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl" style="font-size:23px;">
									O
							</spam>
							<!-- Pin Icon -->
							<spam class="home pageOffertsLikeIcon" id="{{cupon.IDCupon}}" ng-click="changeColorPinCupon('{{cupon.IDCupon}}')" style="color:{{cupon.ColorPinCupon}};font-size:23px;">
							 W
						 </spam>
					</div>
				</div>
			</div>
		</div>
		<!--************  OFFERTS BODY WITHOUT IMAGE **************-->
	   	<div class = "withoutImage" ng-repeat = "cupon in cupons[0] | filter: {nul : 'sin'}">
			<div class="boxResponsiveWithoutImage">
				<!--*****  NAME OF OFFERTS  *****-->
				<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" style="text-decoration:none" ng-click="llenar2()">
					<div class="row">
						<div class="col col-25">
							<div class="row pageOffertsWithoutImageLabelTitle">
								<!--*****  WITHOUT IMAGE LABEL TITLE  *****-->
								<div class="col col-20">
									<p class="pageOffertsTitleLabelWithoutImage" style="font-size:14px;">
										Canjea
									</p>
									<!--*****  WITHOUT IMAGE PRICE LABEL  *****-->
									<p class="pageOffertsPriceLabelWithoutImage" style="font-size:23px;">
									   Q.{{cupon.Canjea}}
									</p>
								</div>
							</div>
							<!--*****  LABEL IMAGE  *****-->
							<img clas="offersLogo" src="img/logoOfertas2.png" alt="image" style="height:75px; width:75px;">
						</div>
						<!--*****  DESCRIPTION BOX WITHOUT IMAGE  *****-->
						<div class="col col-75">
							<p class="open_sans pageOffertsTitleDescriptionWithoutImage overFlowText">
								{{cupon.Presentation }}
							</p>
							<!--*****  OFFERTS DESCRIPTION  *****-->
							<div class="ellipsifyThreeLines" style="background-color:; height:px; margin-left:10px;">
								<div class="pre-dots-threeLines-offerts"></div>
								<div class="dots-threeLines">&hellip;</div>
								<p class="pageFavoritesDescription open_sans">
									{{cupon.description}}
								</p>
								<span class="hidedots1"></span>
								<div class="hidedots2"></div>
							</div>
						</div>
					</div>
				</a>
				<!--*****  DIVIDER LINE  *****-->
				<!--*****  DIV TO PRICE AND ICONS  *****-->
				<div class="row open_sans pageOffertsPriceIcons" style="padding-top:3px;border-style: solid;border-top:1px solid #F1F2F2;margin-top:5px;height:38px;align-items:center">
				<!--*****  ACTUAL PRICE  *****-->
				<div class="col-25">
					<a class="textDecorationNone" ng-click="llenar1('{{cupon.IDCupon}}')" style="text-align:center;align-items:center;margin-left:5px">
						<spam class="pageOffertExchance" style="color:#3F51B5; font-size:16px;">
								CANJEAR
						</spam>
					</a>
				</div>
				<!--*****   BEFORE PRICE  *****-->
				<div class="col-33"  style="text-align:center;align-items:center">
					<spam class="" style="color:silver;margin-top:-5px; font-size:17px;">
						 <!-- (7 dias) -->
					</spam>
				</div>
				<!--*****  ICONS  *****-->
				<div class="col-33" style="word-spacing:-30px;text-align:right;align-items:center">
					<!-- Url Shop online Icon -->
					<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl('{{cupon.ShopOnline}}')" style="display:{{cupon.Display}};font-size:23px;">
							j
					</spam>
						<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl" style="font-size:23px;">
								O
						</spam>
						<!-- Pin Icon -->
						<spam class="home pageOffertsLikeIcon" id="{{cupon.IDCupon}}" ng-click="changeColorPinCupon('{{cupon.IDCupon}}')" style="color:{{cupon.ColorPinCupon}};font-size:23px;">
						 W
					 </spam>
				</div>
				</div>
			</div>
		</div>
		<div class="pageOffertsBlanckDiv"></div>
		<!--**************  BOX RED STYLE MISSING OFFERTS  ***************-->
		<!--**********  TRIANGLES TOP  **********-->
		<!--
		<div class="row">
			<p class="arrow-up-left2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
			<p class="arrow-up2"></p><p class="arrow-up2"></p>
		</div>-->
		<!--**********  PURPLE BOX  **********-->
		<!-- Not found Content -->
	<!--	<div class="pageOffertsBoxRedStyle">-->
			<!-- **********  CLOCK ICON  **********-->
		<!--	<h4 class="home clownStyle">
				P
			</h4>
			<h4 class="open_sans pageStartBoxPurpleTitle" style="margin-top:-20px;">
			   ¿No encontraste lo que
			</h4>
			<h4 class="open_sans pageStartBoxPurpleTitle ">
				quieres.?
			</h4>
		</div>-->
		<!--**********  TRIANGLES DOWN  **********-->
	<!--	<div class="row">
			<p class="arrow-dow-left2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
			<p class="arrow-dow2"></p><p class="arrow-dow2"></p>
		</div>-->
		<!--*************************************************** -->
		<div ng-repeat="super in cupons[0]  | filter: {oferta : 'noHay'}">
			<div class="open_sans boxbox">
				<p class="savedPageNoItemBlankSpace">
					f
				</p>
				  <p class="home savedPageNoItemsIcon">f</p>
				<p class="savedPageNoItemsTitle">
					Uh-uH
				</p>
				<p class="savedPageNoItemsDescription">No tienes ningun elemento agregado a</p>
				<p class="savedPageNoItemsDescription">esta lista. Agrega ofertas y cupones</p>
				<p class="savedPageNoItemsDescription">para usarlos despues.</p>
			</div>
		</div>
		<!--*************  FIRST POPOVER CONTENT  ******************-->
		<script id="templates/popover2.html" type="text/ng-template" >
			<ion-popover-view  class="firstPopoverStyle" style="height:{{pixels}};width:180px; margin-top:20px;">
				<!--*****  FIRST POPOVER CONTENT  *****-->
				<ion-content >
					<div class="list" ng-repeat="s in cupons[1]" >
						<a class="item " target="_blank" onclick="changeColorHeartFollow()" style="  text-align:right; color:silver;">
							Seguir
							<spam class="home pageOffertsPopoverIconsDescrpition" id="{{s.id}}" onclick="changeColorHeartFollow(id)" style="color:{{heartMenu}}">
								B
							</spam>
						</a>
						<a class="item" id = "{{s.cel}}" ng-click="call({{s.cel}})" target="_blank" style="text-align:right; color:silver;">
						{{s.call}}
							<spam class="home pageOffertsPopoverIconsDescrpition">
							  {{s.callIcon}}
							</spam>
						</a>
						<a class="item" id ="{{s.url}}" ng-click="shopUrl('{{s.url}}')" target="_blank" style="text-align:right; color:silver;margin-top:{{s.margin}}">
							  {{s.webUrl}}
							<spam class="home pageOffertsPopoverIconsDescrpition">
							{{s.webUrlIcon}}
							</spam>
						</a>
					</div>
				</ion-content>
			</ion-popover-view>
		</script>
		<!--**********  SECOND POP OVER SHARE  **********-->
		<script id="templates/popoverNew.html" type="text/ng-template">
			<ion-popover-view style="height:150px; width:250px;">
				<ion-content>
					<!--***** MAIN CONTENT SECOND POPOVER *****-->
					<div class="secondPopoverTextAling" style="text-aling:center;">
						<spam class="secondPopoverTitle">Compartir Oferta</spam>
					</div>
					<hr class="secondPopoverHr">
					<div>
						<div>
							<img  class="secondPopoverFacebookIcon" src="img/facebookicon.png" alt="label">
							<a class="secondPopoverFacebookTitle" href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir); window.open('http://www.facebook.com/share.php?u=http://frenzy.com.gt/','_blank');" style="text-decoration:none;">Amigos de facebook</a>
						</div>
					  <div style="margin-top:25px;" onclick="window.open('sms:?body=www.Frenzy.com', '_system');">
							<p class="home secondPopoverMailIcon">
								V
							</p>
							<a href="sms:&body=www.frenzy.com.gt" style="text-decoration:none;">
								<p class="secondPopoverMailTitle">
									Enviar mensajes de texto
								</p>
							</a>
						</div>
					</div>
				</ion-content>
			</ion-popover-view>
		</script>
		<p>
			{{turtle1[0][0]}}
		</p>
	</ion-content>
</ion-view>
