<style>
	.bar.bar-positive {
		box-shadow: 0 0 0px white;
	}
</style>
<ion-view>
	<ion-header-bar id="positive" class="bar bar-subheader bar-positive positive">
		<!-- Tabs -->
		<!-- Offers Tab  -->
		<div class="row">
			<div id="GeneralPaddingCols" class="col col-33" ng-if="customerPromotions.length > 0">
				<a class="pageOffertsOffertsTitle" nav-transition="none" >
					<div class="OffersAndCouponsTabText" id="offertsFunction" ng-click="setViewCoupons(false)" style="{{!viewCoupons ? 'color:white;font-weight:bold' : ''}}">
						Ofertas ({{customer.QuantityPromotion}})
						<hr class="pageFavoritesLineDecorationOffers" id="lineOffertsFunction" style="{{!viewCoupons ? 'color:white;background-color:white': ''}}">
					</div>
				</a>
			</div>
			<!--  Coupon Tab -->
			<div id="GeneralPaddingCols" class="col col-33 CouponsTabOption" ng-if="customerCoupons.length > 0">
				<a class="pageOffertsOffertsTitle" nav-transition="none" >
					<div class="OffersAndCouponsTabText" ng-click="setViewCoupons(true)" style="{{viewCoupons ? 'color:white;font-weight:bold' : ''}}">
						Cupones ({{ customer.QuantityCoupon }})
						<hr class="pageFavoritesLineDecorationOffers" style="{{viewCoupons ? 'color:white;background-color:white': ''}}">
					</div>
				</a>
			</div>
			<!-- Popover Button -->
			<div id="GeneralPaddingCols" class="col" style="align-items:center">
				<div>
					<div>
						<div>
							<button class="popoverButton home" ng-click="popover.show($event)">
								<!-- Popover Icon -->
								<img class="PopoverIcon" src="img/icn-10.png" alt="PopoverIcon" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="generalBackgroundFavorite" nav-transition="none">

		<div ng-if="viewCoupons" style="padding-bottom:5%"> <!-- Coupons With Image -->
			<div ng-repeat="cupon in customerCoupons | filter:{PhotoCoupon:'!!'}" ng-if="cupon.Status">
				<div class="OffersContainer">
					<!-- Label Price -->
					<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label">
					<!-- Price Text Offers -->
					<div class="row BoxPriceLabel">
						<div class="col col-33 BoxLabel">
							<p id="NothingSpace" class="AhorraTextLabel">
								Canjea
							</p>
							<p class="SavingPriceLabel" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
								Q. {{cupon.CouponDiscount}}
							</p>
							<p class="SavingPriceLabel" ng-if="cupon.TypeOfExchange != 'DirectDiscount'">
								{{cupon.CouponDiscount}}%
							</p>
						</div>
					</div>
					<!-- Redirect to Offer Description -->
					<a href="#/app/descripcionCupones/{{cupon.$id}}" >
						<!-- Width of the Offers Image -->
						<img class="imageOffertsAndCoupons" ng-src="{{cupon.PhotoCoupon}}" alt="Promotions">
					</a>
					<!-- Promotion Description -->
					<a href="#/app/descripcionCupones/{{cupon.$id}}" style="text-decoration:none" >
						<div class="row">
							<p class="OfferDescriptionTitle open_sans">
								{{cupon.Name}}
							</p>
						</div>
						<!-- Promotion Description Text -->
						<div class="row">
							<p class="pageFavoritesDescription open_sans">
								{{cupon.CouponDescription}}
							</p>
						</div>
					</a>
					<!-- Footer Box -->
					<div class="row pageFavoritesDivIcons">
						<!-- Change Coupon -->
						<div class="col-25 colPrice">
							<a class="textDecorationNone" ng-click="showCouponDescription(cupon.$id)">
								<spam class="pageOffertExchance" style="font-size:16px">
									CANJEAR
								</spam>
							</a>
						</div>
						<!-- Rest Day -->
						<div class="col-33 colPrice">
							<spam class="pageOffertExchance">
								{{cupon.EndDate | timeDifference }}&nbsp; Días
							</spam>
						</div>
						<!-- Icons Promotion -->
						<div class="col iconsFooterBox">
							<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl(cupon.ShopOnline, 'cart', cupon.Presentation)">
								j
							</spam>
							<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
								O
							</spam>
							<spam class="home pageOffertsShareIcon" id="{{cupon.$id}}" ng-controller="pinCtrl" ng-click="changeColorPinCupon(cupon.$id)" style="color:{{pins[cupon.$id] ? 'purple':''}}">
								W
							</spam>
						</div>
					</div>
				</div>
			</div>
			<!-- Coupons without image -->
			<div ng-repeat="cupon in customerCoupons | filter:{PhotoCoupon:'!'}" ng-if="cupon.Status">
				<!-- Offer Container without image -->
				<div class="boxResponsiveWithoutImage">
					<a href="#/app/descripcionCupones/{{cupon.$id}}" ng-click="llenar2()" style="text-decoration:none">
						<div class="row">
							<!-- Purple label and Saving Price -->
							<div class="col col-33">
								<!-- Purple Label -->
								<div class="row pageOffertsWithoutImageLabel">
									<div class="col labelPriceDescription">
										<!-- Save Pricing Text -->
										<spam class="pageOffertsTitleLabelWithoutImage">
											Canjea
										</spam>
										<!-- Price -->
										<p class="SavingPriceLabel" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
											Q. {{cupon.CouponDiscount}}
										</p>
										<p class="SavingPriceLabel" ng-if="cupon.TypeOfExchange != 'DirectDiscount'">
											{{cupon.CouponDiscount}}%
										</p>
									</div>
								</div>
								<!-- Purple Tag Image -->
								<img clas="offersLogo" src="img/logoOfertas.png" alt="image" style="height:75px; width:75px;">
							</div>
							<!-- Offers Description without image -->
							<div class="col col-75">
								<div class="row">
									<spam class="open_sans pageOffertsTitleDescriptionWithoutImage">
										{{cupon.Name}}
									</spam>
								</div>
								<div class="row">
									<p class="pageFavoritesDescriptionWithoutImage open_sans">
										{{cupon.CouponDescription}}
									</p>
								</div>
							</div>
						</div>
					</a>
					<!-- Footer Box -->
					<div class="row pageFavoritesDivIcons">
						<!-- Change Coupon -->
						<div class="col-25 colPrice">
							<a class="textDecorationNone" ng-click="showCouponDescription('{{cupon.$id}}')" href="#/app/descripcionCupones/{{cupon.$id}}">
								<spam class="pageOffertExchance" style="font-size:16px">
									CANJEAR
								</spam>
							</a>
						</div>
						<!-- Rest Day -->
						<div class="col-33 colPrice">
							<spam class="pageOffertExchance">
								{{cupon.DaysToFinalize}}&nbsp; DÍas
							</spam>
						</div>
						<!-- Icons Promotion -->
						<div class="col iconsFooterBox">
							<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl(cupon.ShopOnline,'cart',cupon.Presentation)" style="display:{{cupon.Display}}">
								j
							</spam>
							<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
								O
							</spam>
							<spam ng-controller="pinCtrl" class="home pageOffertsShareIcon" id="{{cupon.$id}}" ng-click="changeColorPinCupon(cupon.$id)" style="color:{{cupon.ColorPinCupon}}">
								W
							</spam>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="!viewCoupons" style="padding-bottom:5%">
			<!-- Offers With Image -->
			<div ng-repeat="promotion in customerPromotions | filter: {Photo:'!!'}" ng-if="promotion.Status">
				<div class="OffersContainer" >
					<div ng-if="promotion.TypePromotion == 'DirectDiscount'">
						<!-- Label Price -->
						<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" >
						<!-- Price Text Offers -->
						<div class="row BoxPriceLabel">
							<div class="col col-33 BoxLabel">
								<p id="NothingSpace" class="cuponsDescriptionsLabelExchance" >
									Ahorra
								</p>
								<p class="pageFavoritesSavingPrice">
									Q. {{promotion.BasePrice - promotion.PromotionalPrice}}
								</p>
							</div>
						</div>
					</div>
					<!-- Redirect to Offer Description -->
					<a href="#/app/descripcionOfertas/{{promotion.$id}}" style="text-decoration:none">
						<!-- Width of the Offers Image -->
						<img class="imageOffertsAndCoupons" ng-src="{{promotion.Photo}}" ng-if="promotion.Photo" alt="Promotions">
					</a>
					<!-- Promotion Description -->
					<div class="row">
						<p class="OfferDescriptionTitle open_sans">
							{{promotion.Name}}
						</p>
					</div>
					<!-- Promotion Description Text -->
					<div class="row">
						<p class="pageFavoritesDescription open_sans">
							{{promotion.PromotionDescription}}
						</p>
					</div>
					<!-- Footer Box -->
					<div class="row pageFavoritesDivIcons">
							<!-- Price -->
							<div class="col-25 colPrice" ng-if="promotion.TypePromotion == 'DirectDiscount'">
								<spam class="pageFavoritesActualPrice">
									Q. {{promotion.PromotionalPrice}}
								</spam>
							</div>
							<!-- Before Price -->
							<div class="col col-25" style="text-align:center;padding:0px !important" ng-if="promotion.TypePromotion == 'DirectDiscount'">
								<table style="margin-top: 10px">
									<tr>
										<td>
											<spam class="pageFavoritesBeforePrice" style="color:silver;font-size:12px;">
												Antes {{promotion.BasePrice}}
											</spam>
										</td>
									</tr>
								</table>
							</div>

						<!-- Price -->
						<div class="col-100 colPrice" ng-if="promotion.TypePromotion != 'DirectDiscount'">
							<spam ng-if="promotion.TypePromotion == 'Percentage'">
								Descuento {{promotion.Percentage}}%
							</spam>
							<spam ng-if="promotion.TypePromotion == 'SpecialPromotion'">
								Promoción Especial
							</spam>
						</div>
						<!-- Icons Promotion -->
						<div class="col iconsFooterBox">
							<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl(promotion.ShopOnline, 'cart', promotion.Name)" ng-if="promotion.ShopOnline">
								j
							</spam>
							<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
								O
							</spam>
							<spam class="home pageOffertsShareIcon" id="{{promotion.$id}}" ng-controller="pinCtrl" ng-click="changeColorPinCupon(promotion.$id)" style="color:{{pins[promotion.$id] ? 'purple':''}}">
								W
							</spam>
						</div>
					</div>
					<!-- END Footer Box -->
				</div>
			</div>
			<!-- Offers without image -->
			<div ng-repeat="promotion in customerPromotions | filter: {Photo:'!'}" ng-if="promotion.Status">
				<!-- Offer Container without image -->
				<div class="boxResponsiveWithoutImage">
					<a href="#/app/descripcionOfertas/{{promotion.$id}}" style="text-decoration:none">
						<div class="row">

							<!-- Offers Description without image -->
							<div class="col">
								<div class="row">
									<spam class="open_sans pageOffertsTitleDescriptionWithoutImage">
										{{promotion.Name}}
									</spam>
								</div>
								<div class="row">
									<p class="pageFavoritesDescriptionWithoutImage open_sans">
										{{promotion.PromotionDescription}}
									</p>
								</div>
							</div>
						</div>
					</a>
					<div class="row pageFavoritesDivIcons">
						<div class="col-25 colPrice" ng-if="promotion.TypePromotion == 'DirectDiscount'">
							<spam class="pageFavoritesActualPrice">
								Q. {{promotion.PromotionalPrice}}
							</spam>
						</div>
						<!-- Before Price -->
						<div class="col col-25" style="text-align:center;padding:0px !important" ng-if="promotion.TypePromotion == 'DirectDiscount'">
							<table style="margin-top: 10px">
								<tr>
									<td>
										<spam class="pageFavoritesBeforePrice" style="color:silver;font-size:12px;">
											Antes {{promotion.BasePrice}}
										</spam>
									</td>
								</tr>
							</table>
						</div>

					<!-- Price -->
					<div class="col-100 colPrice" ng-if="promotion.TypePromotion != 'DirectDiscount'">
						<spam ng-if="promotion.TypePromotion == 'Percentage'">
							Descuento {{promotion.Percentage}}%
						</spam>
						<spam ng-if="promotion.TypePromotion == 'SpecialPromotion'">
							Promoción Especial
						</spam>
					</div>
					<div class="col"></div>


						<!-- Icons Promotion -->
						<div class="col iconsFooterBox">
							<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl( promotion.ShopOnline, 'cart', promotion.Name)">
								j
							</spam>
							<!-- ng-click="popover.show($event)" -->
							<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
								O
							</spam>
							<spam class="home pageOffertsShareIcon" id="{{promotion.$id}}" ng-controller="pinCtrl" ng-click="changeColorPinCupon(promotion.$id)" style="color:{{pins[promotion.$id] ? 'purple':''}}">
								W
							</spam>
						</div>
					</div>
				</div>
			</div>
			<!-- If doesn't exist offers -->
			<div ng-if="customerPromotions.length < 1" class="noExiste">
				<div class="open_sans">
					<!-- Uh-uh Icon -->
					<p class="home savedPageNoItemsIcon">
						f
					</p>
					<!-- Description -->
					<p class="savedPageNoItemsTitle">
						Uh-uH
					</p>
					<p class="savedPageNoItemsDescription">
						Aun no tenemos ofertas disponibles para ti,<br> Espera porque pronto tendremos las mejores ofertas<br> para que puedas disfrutarlas.
					</p>
					<!-- Request more Offers -->
					<br>
					<center>
						<div class="col col-50 requestOffers" ng-click='askPromotion(customer.Name)'>
							<p class="requestTextColor">Pedir mas ofertas</p>
						</div>
					</center>
				</div>
			</div>
			<!-- Blue Popover -->
		</div>

		<!-- Blue Popover -->
		<script id="templates/popover2.html" type="text/ng-template">
			<ion-popover-view id="bluePopover" class="bluePopover" style="height:170px">
				<!-- Popover Content -->
				<ion-content id="no-scroll">
					<div id="list" class="list" ng-controller="changeColorHeartCtrl">
						<a id="item" class="item" target="_blank" id="{{customer.name}}" ng-click='ChangeColorHeart(customer.$id)'>
                Seguir
                <spam class="home pageOffertsPopoverIconsDescrpition"  style="color:{{favorites[customer.$id] ? 'red':''}}">
                    B
                </spam>
            </a>
						<a id="item" class="item" id="{{ customer.PhoneNumber }}" ng-href="tel:{{ customer.PhoneNumber }}" target="_blank">
                Llamar
                <spam class="home pageOffertsPopoverIconsDescrpition">
                    Q
                </spam>
            </a>
						<a id="item" class="item" id="{{customer.URL}}" ng-click='shopUrl(customer.URL,"web",customer.Name)' target="_blank" style="margin-top:0">
                Ir a pagina Web
                <spam class="home pageOffertsPopoverIconsDescrpition">
                    R
                </spam>
            </a>
					</div>
				</ion-content>
			</ion-popover-view>
		</script>
		<!--**********  SECOND POP OVER SHARE  **********-->
		<script id="templates/popoverNew.html" type="text/ng-template">
			<ion-popover-view class="SharePopover">
				<div class="PaddingShare">
					<spam class="secondPopoverTitle">Compartir Oferta</spam>
				</div>
				<hr class="style-hr">
				<div class="row facebookShareContainer PaddingShare">
					<div class="col-20 verticalCenteredObjects iconCenterDiv">
						<img class="secondPopoverFacebookIcon" src="img/facebookicon.png" alt="label">
					</div>
					<div class="col verticalCenteredObjects friendsOfFacebook">
						<a class="secondPopoverText" href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir); window.open=cordova.InAppBrowser.open('http://www.facebook.com/share.php?u=http://frenzy.com.gt/','_blank', 'location=yes');"
										style="text-decoration:none;" ng-click = 'share(promotion.Photo, promotion.Name , promotion.Description)' >
							Amigos de facebook
						</a>
					</div>
				</div>
				<div class="row PaddingShare">
					<div class="col-20"></div>
					<div class="col">
						<hr class="style-hr">
					</div>
				</div>
				<div class="row facebookShareContainer PaddingShare" ng-click="Analytics('message','promotion'); sendSms()">
					<div class="col-20 verticalCenteredObjects iconCenterDiv">
						<p class="home secondPopoverMailIcon">
							V
						</p>
					</div>
					<div class="col verticalCenteredObjects friendsOfFacebook">
						<a class="secondPopoverText" style="text-decoration:none;">
								Enviar mensajes de texto
						</a>
					</div>
				</div>
			</ion-popover-view>
		</script>
	</ion-content>
</ion-view>
