<style>
	.bar.bar-positive    {
		box-shadow: 0 0 0px white;
}
</style>
<ion-view>
	<ion-header-bar id="positive" class="bar bar-subheader bar-positive positive">
		<!-- Offers and Coupons Tab with Popover -->
		<div class="row">
			<div id="GeneralPaddingCols" class="col col-33" ng-repeat="ofert in categoryNameCoupon[3] | filter: {Validar : 'existe'}">
				<a class="pageOffertsOffertsTitle" href="#/app/ofertas/{{cupons[0][0].Category}}" nav-transition="none">
					<div class="OffersAndCouponsTabText" id="offertsFunction" onclick="offerts()" style="display:{{s.ocultar}}">
						Ofertas ({{ofert.contPromotion}})
						<hr class="pageFavoritesLineDecorationOffers" id="lineOffertsFunction" style="display:{{s.ocultar}}">
					</div>
				</a>
			</div>
			<!--  ng-repeat="s in chats[2] | filter: {Validar : 'existe'}" -->
			<div id="GeneralPaddingCols" class="col col-33 CouponsTabOption">
				<a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/cupones/{{s.t}}" >
					<div class="OffersAndCouponsTabText" ng-repeat="cupon in categoryNameCoupon[3]" style="color:white;font-weight:bold">
						Cupones ({{cupon.contCoupon}})
						<hr class="pageFavoritesLineDecorationOffers" style="color:white;background-color:white">
					</div>
				</a>
			</div>
			<!-- Popover Button -->
			<div id="GeneralPaddingCols" class="col" style="align-items:center">
				<div ng-repeat="s in cupons[1]">
					<div id = "{{s.name}}" ng-click='heartPopover("{{s.name}}")'>
						<div>
							<button class="popoverButton home" ng-click="popover.show($event)" ng-controller="PopoverCtrl2">
								<!-- Popover Icon -->
								<img class="PopoverIcon" src="img/icn-10.png" alt="PopoverIcon" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="generalBackgroundFavorite" nav-transition="none">
		<!-- Coupons With Image -->
		<div ng-repeat = "cupon in cupons[0] | filter: {nul : 'con'}" >
			<div class="OffersContainer">
				<!-- Label Price -->
				<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" style="display:{{super.display}};">
				<!-- Price Text Offers -->
				<div class="row BoxPriceLabel">
					<div class="col col-33 BoxLabel">
						<p id="NothingSpace" class="AhorraTextLabel">
							Canjea
						</p>
						<p class="SavingPriceLabel {{super.TypePromotion}}">
							{{cupon.CanjeaQ}}{{cupon.Canjea}}{{cupon.CanjeaP}}
						</p>
					</div>
				</div>
				<!-- Redirect to Offer Description -->
				<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" ng-click="llenar2()">
					<!-- Width of the Offers Image -->
					<img class="imageOffertsAndCoupons" src="{{cupon.PhotoCupon}}" alt="Promotions">
				</a>
				<!-- Promotion Description -->
				<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" style="text-decoration:none" ng-click="llenar2()">
					<div class="row">
						<p class="OfferDescriptionTitle open_sans">
							{{cupon.Name}}
						</p>
					</div>
					<!-- Promotion Description Text -->
					<div class="row">
						<p class="pageFavoritesDescription open_sans">
							{{cupon.CouponDescription}}
						</p>
					</div>
				</a>
				<!-- Footer Box -->
				<div class="row pageFavoritesDivIcons">
					<!-- Change Coupon -->
					<div class="col-25 colPrice">
						<a class="textDecorationNone" ng-click="showCouponDescription('{{cupon.IDCupon}}')">
							<spam class="pageOffertExchance">
								CANJEAR
							</spam>
						</a>
					</div>
					<!-- Rest Day -->
					<div class="col-33 colPrice">
						<spam class="pageOffertExchance">
							{{cupon.DaysToFinalize}}&nbsp; Días
						</spam>
					</div>
					<!-- Icons Promotion -->
					<div class="col iconsFooterBox">
						<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl('{{cupon.ShopOnline}}','cart','{{cupon.Presentation}}')" style="display:{{cupon.Display}}">
							j
						</spam>
						<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
							O
						</spam>
						<spam class="home pageOffertsShareIcon" id="{{cupon.IDCupon}}" ng-click="changeColorPinCupon('{{cupon.IDCupon}}')" style="color:{{cupon.ColorPinCupon}}">
							W
						</spam>
					</div>
				</div>
			</div>
		</div>
		<!-- Coupons without image -->
		<div ng-repeat = "cupon in cupons[0] | filter: {nul : 'sin'}">
			<!-- Offer Container without image -->
			<div class="boxResponsiveWithoutImage">
				<a href="#/app/descripcionCupones/{{cupon.IDCupon}}" ng-click="llenar2()" style="text-decoration:none">
					<div class="row">
						<!-- Purple label and Saving Price -->
						<div class="col col-33">
							<!-- Purple Label -->
							<div class="row pageOffertsWithoutImageLabel">
								<div class="col labelPriceDescription">
										<!-- Save Pricing Text -->
										<spam class="pageOffertsTitleLabelWithoutImage">
											Canjea
										</spam>
										<!-- Price -->
										<spam class="pageOffertsPriceLabelWithoutImage" style="margin-top:{{super.marginTop}}">
										{{cupon.CanjeaQ}}{{cupon.Canjea}}{{cupon.CanjeaP}}
										</spam>
								</div>
							</div>
							<!-- Purple Tag Image -->
							<img clas="offersLogo" src="img/logoOfertas.png" alt="image" style="height:75px; width:75px;">
						</div>
						<!-- Offers Description without image -->
						<div class="col col-75">
							<div class="row">
								<spam class="open_sans pageOffertsTitleDescriptionWithoutImage">
									{{cupon.Name}}
								</spam>
							</div>
							<div class="row">
								<p class="pageFavoritesDescriptionWithoutImage open_sans">
									{{cupon.CouponDescription}}
								</p>
							</div>
						</div>
					</div>
				</a>
				<!-- Footer Box -->
				<div class="row pageFavoritesDivIcons">
					<!-- Change Coupon -->
					<div class="col-25 colPrice">
						<a class="textDecorationNone" ng-click="showCouponDescription('{{cupon.IDCupon}}')" href="#/app/descripcionCupones/{{cupon.IDCupon}}">
							<spam class="pageOffertExchance">
								CANJEAR
							</spam>
						</a>
					</div>
					<!-- Rest Day -->
					<div class="col-33 colPrice">
						<spam class="pageOffertExchance">
							{{cupon.DaysToFinalize}}&nbsp; DÍas
						</spam>
					</div>
					<!-- Icons Promotion -->
					<div class="col iconsFooterBox">
						<spam class="home pageOffertsShareIcon" ng-controller="PopoverNewCtrl" ng-click="shopUrl('{{cupon.ShopOnline}}','cart','{{cupon.Presentation}}')" style="display:{{cupon.Display}}">
							j
						</spam>
						<spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
							O
						</spam>
						<spam class="home pageOffertsShareIcon" id="{{cupon.IDCupon}}" ng-click="changeColorPinCupon('{{cupon.IDCupon}}')" style="color:{{cupon.ColorPinCupon}}">
							W
						</spam>
					</div>
				</div>
			</div>
		</div>
		<!-- If doesn't exist offers -->
		<div ng-repeat="super in cupons[0]  | filter: {oferta : 'noHay'}" class="noExiste">
			<div class="open_sans">
				<!-- Uh-uh Icon -->
				<p class="home savedPageNoItemsIcon">
					f
				</p>
				<!-- Description -->
				<p class="savedPageNoItemsTitle">
					Uh-uH
				</p>
				<p class="savedPageNoItemsDescription">
					Aun no tenemos ofertas disponibles para ti,<br>
					Espera porque pronto tendremos las mejores ofertas<br>
					para que puedas disfrutarlas.
				</p>
			</div>
		</div>

	<!-- Blue Popover -->
    <script id="templates/popover2.html" type="text/ng-template" >
        <ion-popover-view id="bluePopover" class="bluePopover" style="height:{{pixels}}">
            <!-- Popover Content -->
            <ion-content id="no-scroll">
                <div id="list" class="list" ng-repeat="s in cupons[1]">
                    <a id="item" class="item" target="_blank" id="{{s.name}}"  ng-click='changeColorHeartFollow("{{s.name}}")'>
                        Seguir
                        <spam class="home pageOffertsPopoverIconsDescrpition"  style="color:{{heartMenu}}">
                            B
                        </spam>
                    </a>
                    <a id="item" class="item" id = "{{s.cel}}" ng-click='call("{{s.cel}}","{{s.name}}")' target="_blank">
                        {{s.call}}
                        <spam class="home pageOffertsPopoverIconsDescrpition">
                            {{s.callIcon}}
                        </spam>
                    </a>
                    <a id="item" class="item" id ="{{s.url}}" ng-click='shopUrl("{{s.url}}","web","{{s.name}}")' target="_blank" style="margin-top:{{s.margin}}">
                        {{s.webUrl}}
                        <spam class="home pageOffertsPopoverIconsDescrpition">
                            {{s.webUrlIcon}}
                        </spam>
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
		<!--**********  SECOND POP OVER SHARE  **********-->
		<script id="templates/popoverNew.html" type="text/ng-template">
			<ion-popover-view class="SharePopover">
				<div class="PaddingShare"><spam class="secondPopoverTitle">Compartir Oferta</spam></div>
				<hr class="style-hr">
					<div class="row facebookShareContainer PaddingShare">
						<div class="col-20 verticalCenteredObjects iconCenterDiv">
							<img  class="secondPopoverFacebookIcon" src="img/facebookicon.png" alt="label">
						</div>
						<div class="col verticalCenteredObjects friendsOfFacebook">
							<a class="secondPopoverText" href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir); window.open=cordova.InAppBrowser.open('http://www.facebook.com/share.php?u=http://frenzy.com.gt/','_blank', 'location=yes');" style="text-decoration:none;">Amigos de facebook</a>
						</div>
					</div>
					<div class="row PaddingShare">
						<div class="col-20"></div>
						<div class="col">
							<hr class="style-hr">
						</div>
					</div>
					<div class="row facebookShareContainer PaddingShare" ng-click= "Analytics('message','promotion'); sendSms()">
						<div class="col-20 verticalCenteredObjects iconCenterDiv">
							<p class="home secondPopoverMailIcon">
								V
							</p>
						</div>
						<div class="col verticalCenteredObjects friendsOfFacebook">
							<a class="secondPopoverText" style="text-decoration:none;">
								Enviar mensajes de texto
							</a>
						</div>
					</div>
				</ion-popover-view>
			</script>
	</ion-content>
</ion-view>
