.tutorialPageBackgroundColor{
  background: linear-gradient(90deg, #9C28B0 50%, #3F51B5 50%)
  repeat scroll 10% 10% #A38C21;
  background-color: #A38C21;
  background-size: auto auto;
  color: #FFF;
}
/******************************************/
/***********  SLIDER NO.1  ****************/
.backgroundTutorialNo1 {
  background-color:#9C28B0;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
.imageHouseTutorialNo1{
  width: 15%;
  height: 11%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.titleTutorial1-1{
  font-size: 15px;
  color:white;
  font-weight: bolder;
  text-align: center;
}
.titleTutorial1-2{
    font-size: 15px;
    color:white;
    font-weight: bolder;
    text-align: center;
    margin-top: -8px;
}
.imageTutorialNo1{
    width: 75%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.greyBoxTutorial{
  background-color: #E6E7E8;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 15%;
  margin-top: -15%;
}
.arrow-up-tutorial {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #E6E7E8 transparent;
    margin-top: -16px;
}
.arrow-up-left-tutorial {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 0 12px;
    border-color: transparent transparent transparent #E6E7E8;
    margin-left: -5px;
    margin-top: -17px;
}
.boxGreyTitleTutorial{

}
/******************************************/
/***********  SLIDER NO.2  ****************/
.backgroundTutorialNo2 {
  background-color:#00BAB9;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
/******************************************/
/***********  SLIDER NO.3  ****************/
.backgroundTutorialNo3 {
  background-color:#FF5252;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
/********************************************/
/***************  GREY BOX ******************/
.tut1{
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  color: #A7A9AC;
}
/********************************************/
.text {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/********************************************/
.finalDivTutorialPage{
  background-color:#3F51B5;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
