<ion-slide-box class="backgroundTutorial" on-slide-changed="slideChanged(index)" show-pager="false">
  <!-- First Slide -->
  <ion-slide>
    <div class="backgroundTutorial1 open_sans" >
      <!-- House Icon -->
      <img class="iconTutorial" src="img/house.png" alt="HouseIconFrenzy">
      <!-- Titles -->
      <p class="titlesOfTheTutorial">Busca y comparte promos y<br>cupones en toda Guate</p>
      <!-- Frenzy Phone for Tutorial Number 1 -->
      <img class="PhoneFrenzyImage" src="img/1.png" alt="SearchAndSharePromotions">
    </div>
    <!-- Triangles Div -->
    <div class="containerZigzag zigzag slide-image-center">
      <img class="slide-image-size parpadea" src="img/slide-img.png" alt="slide-image">
    </div>
  </ion-slide>
  <!-- Second Slide -->
  <ion-slide on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorial2 open_sans" >
      <!-- Pig Icon -->
      <img class="iconTutorial" src="img/cerdo.png" alt="PigIconFrenzy">
      <!-- Titles -->
      <p class="titlesOfTheTutorial"><br>Ahorra en tus marcas favoritas</p>
      <!-- Scroll for the Six First Customer with more Promotions -->
      <ion-scroll id="hideSecondScroll"direction="y" class="HeightScroll">
        <!-- General Promotions for Average -->
        <div class="row">
          <!-- Offers and Promotions for Average -->
          <div class="row tutorialCustomerColumns" ng-controller='TutorialCostumer' style="padding-top:0 !important;">
            <!-- If find offers or promotions -->
            <div class="col col-50" ng-repeat="customer in TutorialPromotion | orderBy:'-suma' | limitTo:6">
              <tutorial-info info="customer"></tutorial-info>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>
    <!-- Triangles Div -->
    <div class="containerZigzag zigzag slide-image-center">
      <img class="slide-image-size parpadea" src="img/slide-img.png" alt="slide-image">
    </div>
  </ion-slide>
  <!-- Third Slide -->
  <ion-slide  on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorial3 open_sans" >
      <!-- Frenzy Phone Icon -->
      <img class="iconTutorial" src="img/telefono.png" alt="FrenzyPhone">
      <!-- Title -->
      <p class="titlesOfTheTutorial">El directorio telefónico y web de <br>tus marcas favoritas</p>
      <!-- Frenzy Phone for Tutorial Number 3 -->
      <img class="PhoneFrenzyImage" src="img/phone3.png" alt="CallFrenzyImage">
    </div>
    <!-- Triangles Div -->
    <div class="containerZigzag zigzag slide-image-center">
      <img class="slide-image-size parpadea" src="img/slide-img.png" alt="slide-image">
    </div>
  </ion-slide>
  <!-- Final Tutorial -->
  <ion-slide>
    <div class="finalDivTutorialPage">
      <div class="verticalCentered"> <!--The VerticalCentered Style is found in style.css-->
        <img class="frenzyImage" src="img/frenzy.png" alt="FrenzyImage" />
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
