/*Purple Color for Tutorial Templet*/
.backgroundTutorial {
  background-color:#9C28B0
}
/*Background Color for the first slide secuencial of the Tutorial tools*/
.backgroundTutorialSecuencial {
  background-color: #00BAB9;
  width: 100%;
  height: 100%;
}
/*Icon Tutorial for size and position centered*/
.iconTutorial {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Style for Each Title of the Tutorial*/
.titlesOfTheTutorial {
  font-size: 18px;
  color:white;
  font-weight: bolder;
  text-align: center;
}
/*Style for First image of the Tutorial*/
.PhoneFrenzyImage {
  width: 75%;
  height: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Style for to center hand slider image*/
.slide-image-center {
  text-align: center;
}
/*Size for hand slider image*/
.slide-image-size {
  margin-top: 2%;
  width: 80px;
}
/* Multiple Focus on slide image*/
.parpadea {
  animation-name: parpadeo;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}
@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/*Style for Second Tutorial Slide*/
.backgroundTutorial1 {
  background-color:#00BAB9;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
/*Style for Third Tutorial Slide*/
.backgroundTutorial3 {
  background-color:#FF5252;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
/*Style for Final Tutorial*/
.finalDivTutorialPage{
  background-color:#3F51B5;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  display:table;
}
/*Width for Frenzy Image*/
.frenzyImage {
  width:150px;
}
/*Height for Scroll of Customer*/
.HeightScroll {
  height:400px;
}
/*Style for to Hide The Second Scroll Bar*/
#hideSecondScroll.scroll-view.scroll-y {
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
/*Style Tutorial Template*/
#boxColorCustomer.boxColorCustomer {
  background-color:#FFFFFF;
  padding: 0px;
}
/*Padding Top and Padding Bottom for the Image for the Customer Box*/
.BoxSpace {
  padding:5px 0px 5px 0px;
}
/*Color gray for Box Description*/
.boxColorDescription {
  background-color:#F1F2F2;
}
/*Blue color Text and Margin Left Text Description*/
#CountColor.CountColor {
  color:#263147;
  margin-left: 5px;
}
#PriceColor.PriceColor {
  color:#263147;
  margin-left: 5px;
}
/*Gray Color Text and Font Size Text Description*/
#OfferText.OfferText {
  color:#A7A9AC;
}
#AverageText.AverageText {
  color:#A7A9AC;
  font-size: 13px;
}




.buttons {
  background-color: #FFFFF;
}

/*Style for the Tutorial button*/
.nextAndBackButtonTutorial {
  background-color: #F1F2F2;
  color: #3F51B5;
  font-family: Roboto, Helvetica, San Fransisco;
}
/*Hover effect for the next and previous button Tutorial*/
.nextAndBackButtonTutorial:hover {
  background-color: #F1F2F2;
  color: #3F51B5;
  font-family: Roboto, Helvetica, San Fransisco;
}
/* Styel for the arrows into tutorial */
.ion-chevron-right {
  background-color: #F1F2F2;
  color: #3F51B5;
  font-weight: bolder;
}

.ion-chevron-left {
  background-color: #F1F2F2;
  color: #3F51B5;
  font-weight: bolder;
}
/* Size for the tutorial text */
.sizeTextTutorialButton {
  font-size: 14px !important;
}
/* Style for the arrow in Tutorial */
.button .icon .ion-ios-arrow-forward {
  font-size: 80px !important;
}
/* Back Button for the Tutorials */
#backTutorial {
  display: none;
}
/* style for to assign vertical scroll automatically */
.scrollPromotion {
  overflow-y: auto;
  padding-bottom: 25% !important;
}
/* Style for Second Tutorial Slide */
.backgroundTutorial2 {
  background-color:#9C28B0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow-y: auto;
  padding-bottom: 20%;
}
/* This style works for to center the gif image container */
.generalContainerGifts {
  text-align:center;
  width:100%;
}
/* Total width for gif Image Container into tutorial */
.totalWidthTutorialContainer {
  display:inline-block;
  width:90%;
}
/* Style for the first box Description into tutorial */
.firstBoxGiftTutorial {
  height:90px;
  background:#FFFFFF;
  text-align:left;
  padding-left:5%;
}
/* Style text for step Descriptions into tutorial */
.giftDescription {
  font-size:12px;
  line-height:70%;
  font-family:Roboto, Helvetica, San Fransisco;
}
/*Background Green for the first gif Image*/
.firstGifImageBackground {
  height:220px;
  background-color:#00DDC1;
}
/*Background Orange for the first gif Image*/
.secondGifImageBackground {
  height:220px;
  background-color:#FBA340;
}
/*Background Red for the first gif Image*/
.thirdGifImageBackground {
  height:220px;
  background-color:#FF5252;
}
/*Size Gif Image into Tutorial*/
.styleGif {
  width:100%;
  height:220px;
}
/*Style for the final content into Tutorial*/
.finalContentTutorial {
  background:#FFFFFF;
  text-align:center;
  padding-bottom:5%;
  padding-top:5%;
}
/*Size Purple Award Image*/
.purpleAwardImage {
  width:40px;
  padding-bottom:5%;
}
/*Instant Awards Style Text*/
.IAStyleText {
  color:#263147;
  font-size:25px;
}
/*Style footerBar into Tutorial*/
.footerBarStyle {
  background:#F1F2F2;
  height:51px;
}
