/*Background Color Container for Our Favorites Template*/
.generalBackgroundFavorite {
	background-color: #F1F2F2;
}
/*Width Photo Our Favorites*/
.PhotoFavoriteSlide {
	width:100%;
	height:275px;
}
/*Purple Tag*/
.PurpleTagFavorites {
	position: absolute;
	width: 110px;
}
/*Ionic Block class*/
#PurpleTagPadding0.col {
	padding: 0;
}
/*Text Label Vertical Centered*/
.BoxPriceLabelOurFavorite {
	position:absolute;
	z-index: 1;
  margin-left: 2%;
  margin-top: 2%;
}
/*Favorite Slide Container*/
.favoritesDiv{
	background-color: white;
	height: auto;
	width: 95%;
	margin-left: 2%;
	margin-top: 5%;
	box-shadow: 3px 3px 2px #BDBDBD;
	position: relative;
}
/*Favorite Customer Logotype*/
.pageFavoritesEstablishmentLogo {
	margin-top:-27px;
}
/*Size for Customer Icon*/
.logoEstablishment {
	height: 60px;
	width: 60px;
	margin-top:-65px;
	margin-left: 10px;
}
/*Total Height for Description Container*/
.pageOurFavoritesDescription {
	font-size:13px;
  text-align: justify;
	color:#BDBDBD;
	height: 80px;
	margin: -3px 0 5px 10px;
}
/*Space Bottom for Favorite Title Description*/
.FavoritePaddingBottom {
	padding-top: 15px;
}
/*Color Icons*/
.pageFavoritesIcons {
	color:silver;
	margin-left:15px;
	margin-top:10px;
}
/*Total size for the templet slider*/
.slider {
	height: 100% !important;
}
/* Style for to quit icon slider page of ionic default */
.slider-pager-page i.icon:before {
	position:absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	z-index:0;
	color: #00DDC1;
}
