<style>
  .icon ion-record {
    color:red;
  }
  /*Not Box Shadow for Header Bar*/
  .bar.bar-positive    {
    box-shadow: 0 0 0px white;
  }
</style>
<!-- Favorites Container -->
<ion-view class="generalBackgroundFavorite">
  <ion-header-bar id="positive" class="bar bar-subheader bar-positive positive">
		<!-- Offers and Coupons Tab with Popover -->
		<div class="row">
			<div id="GeneralPaddingCols" class="col col-50">
				<a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/favoritos">
					<div class="OffersAndCouponsTabText" id="offertsFunction" style="color:white">
						Nuestros Favoritos
						<hr class="pageFavoritesLineDecorationOffers" id="lineOffertsFunction" style="color:white;background-color:white">
					</div>
				</a>
			</div>
			<div id="GeneralPaddingCols" class="col col-50" style="margin-left:5px">
				<a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/tusFavoritos" >
					<div class="OffersAndCouponsTabText">
						Tus Favoritos
						<hr class="pageFavoritesLineDecorationOffers">
					</div>
				</a>
			</div>
		</div>
  </ion-header-bar>
  <!-- Our Favorite Content -->
  <ion-content class="pageFavoritesBodyColor" ng-app="ionicApp" animation="slide-left-right-ios7" scroll="false">
    <!-- Doesn't exist Our Favorites -->
    <div ng-repeat="favorites in ourFavorites  | filter: {oferta : 'noHay'}">
      <div class="open_sans">
        <!-- Donkey Icon -->
        <p class="home savedPageNoItemsIcon">
          f
        </p>
        <!-- Description -->
        <p class="savedPageNoItemsTitle">
          Uh-uH
        </p>
        <p class="savedPageNoItemsDescription">
          Ten paciencia pronto te mostraremos<br>
          nuestras promociones favoritas<br>
          para usarlos después.
        </p>
      </div>
    </div>
    <!-- Our Favorites Slide -->
    <ion-slide-box style="display:{{display[1].display}}">
      <ion-slide ng-repeat="s in ourFavorites">
        <!--*****  PRICE LABEL OFFERTS  *****-->
          <div class="favoritesDiv">
            <!-- Purple label and Saving Price -->
  					<div id="PurpleTagPadding0" class="col col-25">
  						<!-- Purple Label -->
              <div class="row BoxPriceLabelOurFavorite">
                <div class="col col-25 BoxLabel">
                  <p id="NothingSpace" class="AhorraTextLabel">
                    {{s.textDiscount}}
                  </p>
                  <p class="SavingPriceLabel {{s.TypePromotion}}">
                    {{s.ahorro}}
                  </p>
                </div>
              </div>
  						<!-- Purple Tag Image -->
  						<img class="PurpleTagFavorites" src="img/etiquetaOfertas.png" alt="image" style="display:{{s.display}}">
  					</div>
            <!-- Photo Favorite Slide -->
            <img class="PhotoFavoriteSlide" src="{{s.photo}}" alt="OurFavoritePhotoFrenzy">
            <div class="pageFavoritesEstablishmentLogo">
              <img class="logoEstablishment" src="{{s.Logo}}">
            </div>
            <!-- Promotion Description -->
            <div class="row FavoritePaddingBottom">
              <p class="OfferDescriptionTitle open_sans">
                {{s.name}}
              </p>
            </div>
            <!-- Promotion Description Text -->
            <div class="row">
              <p class="pageOurFavoritesDescription open_sans">
                {{s.description}}
              </p>
            </div>
            <!-- Icon Container Uder Promotion Description -->
            <div class="row pageFavoritesDivIcons">
    					<!-- Price -->
    					<div class="col col-{{s.colum}} colPrice">
    						<spam class="pageFavoritesActualPrice">
    							{{s.promotionalPrice}}
    						</spam>
    					</div>
    					<!-- Before Price -->
              <div id="GeneralPaddingCols0" class="col col-25" style="display:{{super.columDisplay}};text-align:center;padding:0px !important">
    						<table style="margin: 0 auto">
    							<tr>
    								<td>
    									<spam class="pageFavoritesBeforePrice" style="color:silver;font-size:12px;">
    										{{s.before}}
    									</spam>
    								</td>
    							</tr>
    							<tr>
    								<td>
    									<spam class="pageFavoritesBeforePrice" style="color:silver;font-size:12px;">
    										{{s.basePrice}}
    									</spam>
    								</td>
    							</tr>
    						</table>
    					</div>
    					<!-- Icons Promotion -->
              <div id="GeneralPaddingCols0" class="col verticalAndHorizontalCenteredObjects">
                  <spam class="home pageOffertsShareIcon" ng-click="popover.show($event)" ng-controller="PopoverNewCtrl">
                      O
                  </spam>
                  <spam class="pageOffertsShareIcon home verticalCenteredObjects" id="{{s.IDpromotion}}" ng-click="SalvadosSaveAndDelete('{{s.IDpromotion}}')" style="color:{{s.ColorPin}}">
                    W
                  </spam>
              </div>
    				</div>
          </div>
      </ion-slide>
    </ion-slide-box>

    <!--**********  SECOND POP OVER SHARE  **********-->
  	<script id="templates/popoverNew.html" type="text/ng-template">
  		<ion-popover-view class="SharePopover">
  			<div class="PaddingShare"><spam class="secondPopoverTitle">Compartir Oferta</spam></div>
  			<hr class="style-hr">
  				<div class="row facebookShareContainer PaddingShare">
  					<div class="col-20 verticalCenteredObjects iconCenterDiv">
  						<img  class="secondPopoverFacebookIcon" src="img/facebookicon.png" alt="label">
  					</div>
  					<div class="col verticalCenteredObjects friendsOfFacebook">
  						<a class="secondPopoverText" href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir); window.open=cordova.InAppBrowser.open('http://www.facebook.com/share.php?u=http://frenzy.com.gt/','_blank', 'location=yes');" style="text-decoration:none;">Amigos de facebook</a>
  					</div>
  				</div>
  				<div class="row PaddingShare">
  					<div class="col-20"></div>
  					<div class="col">
  						<hr class="style-hr">
  					</div>
  				</div>
  				<div class="row facebookShareContainer PaddingShare">
  					<div class="col-20 verticalCenteredObjects iconCenterDiv" onclick="window.open('sms:?body=Visitanos en: http://frenzy.com.gt para encontrar las mejores ofertas :)', '_system');" ng-click= "Analytics('message','promotion')">
  						<p class="home secondPopoverMailIcon">
  							V
  						</p>
  					</div>
  					<div class="col verticalCenteredObjects friendsOfFacebook">
  						<a class="secondPopoverText" href="sms:&body=Visitanos en: http://frenzy.com.gt para encontrar las mejores ofertas :)" style="text-decoration:none;">
  							Enviar mensajes de texto
  						</a>
  					</div>
  				</div>
  			</ion-popover-view>
  		</script>
  </ion-content>
</ion-view>
