<ion-view>
	<ion-content class="generalBackgroundPoints">

    <div id="GeneralPaddingCols0" class="row" style="height:200px">
      <div id="GeneralPaddingCols0" class="col">
        <img class="awardDescriptionImage" src="img/frenzy_back.png" alt="awardImage" />
      </div>
    </div>
    <!-- Points Description For Each Customer -->
    <div class="row awardDescription">
      <!-- Count of Points -->
      <div class="col" style="text-align:center;padding-bottom:5%">
        <div class="row center">
          <span class="open_sans countPoints">Una pizza grande de 1 <br> ingrediente gratis</span>
        </div>
        <div class="row center" style="padding-top:1%">
          <span class="descriptionAP">Premio al instante</span>
        </div>
				<!-- Input Change -->
	      <div class="row" style="padding-top:3%">
	        <div id="GeneralPaddingCols0" class="col">
	          <!-- Input Code Promotion -->
	          <!-- The direct styles doesn't work good in css file -->
	          <input class="inputCodeVerificationStyle" type="text" placeholder="Ingresa Código de Verificación" name="name" style="width:75%;display:inline-block;border-radius:10px 0px 0px 10px;font-family:Roboto;font-size:24px !important;color:#A7A9AC;height:41px;float:left" ng-model = 'codePromotion'>
	          <!-- Go Button for the Code Promotion exchanged -->
	          <button type="button" name="button" class="codeVerificationButton">CANJEAR</button>
	        </div>
	      </div>
      </div>
    </div>
    <!-- Triangle And Available Gifts -->
    <div class="row containerTrianglePoints zigzagPoints"></div>
    <!-- Available Gifts Text -->
    <div class="row" style="padding-top:3%">
      <div class="col center">
        <span class="open_sans subTitles">Descripción y Condiciones</span>
      </div>
    </div>
    <!-- Description and Conditions -->
		<div class="row">
			<div class="col" style="text-align:justify">
				<span class="termsAndConditionsText">Pide el código de verificación en cualquier restaurante Domino's. Únicamente canjeable en restaurantes Domino's. No aplica en entrega a domicilio.</span>
			</div>
		</div>
		<br>
		<!-- Bar Sub-Footer for Terms And Conditions href="#/app/termsAndConditionsOffers/{{promotion.$id}}" ng-if="promotion.TermsAndConditions"-->
		<a class="row legalTermsLine styleRedirection" href="#/app/termsAndConditionsPoints/{{pointsDescripcion.$id}}" style="position:absolute;bottom: 0px;">
			<div class="LegalTerms verticalCenteredObjects col col-80" style="padding:0 !important">Términos Legales</div>
			<div id="Terms" class="TermButton button icon ion-chevron-right col"></div>
		</a>

		<script id="templates/modal.html" type="text/ng-template">
		      <ion-modal-view id="modales">
		        <ion-content style="padding:0">
							<!--Close Button-->
							<div class="row" ng-if = '!goAdwards'>
								<div class="col" style="padding:0">
									<div class="row" style="padding:0">
										<div class="col">
											<span ng-click="modal.hide()" class="icon ion-close-circled" style="font-size:30px;color:#A7A9AC;float:right !important"></span>
										</div>
									</div>
									<div class="row">
										<div class="col center">
											<span class="home" style="color:#9C28B0;font-size:70px">K</span>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col center" ng-if =' pointsDescripcion.points >= dataAward.Points'>
											<span class="" style="font-size:18px;color:#263147;font-weight:bolder" >¿Deseas cambiar {{dataAward.Points}} Puntos <br> por este premio?</span>
										</div>
										<div class="col center" ng-if =' pointsDescripcion.points < dataAward.Points'>
											<span class="" style="font-size:18px;color:#263147;font-weight:bolder" > No tienes los puntos  suficientes <br> para canjear este premio</span>
										</div>
									</div>
									<div class="row" style="padding:top:3%;padding-bottom:3%">
										<div class="col center">
											<span class="" style="font-size: 12px;color: #A7A9AC;font-family: Roboto, Helvetica;">{{dataAward.Name}}</span>
										</div>
									</div>
									<center>
										<div class="enterButtonStyle" ng-if ='pointsDescripcion.points >= dataAward.Points' >
											<div class="enterButtonTitle open_sans" ng-click ="exchange(dataAward, true)" >
												¡DÉMOSLE!
											</div>
										</div>
										<div class="enterButtonStyle" ng-click="modal.hide()"  ng-if =' pointsDescripcion.points < dataAward.Points'>

											<div class="enterButtonTitle open_sans" ng-click ="modal.hide()" >
												Ok
											</div>
										</div>
									</center>
								</div>
							</div>
							<div class="row" ng-if='goAdwards'>
								<div class="col" style="padding:0">
									<div class="row" style="padding:0">
										<div class="col">
											<span ng-click="closeModal()" class="icon ion-close-circled" style="font-size:30px;color:#A7A9AC;float:right !important"></span>
										</div>
									</div>
									<div class="row">
										<div class="col center">
											<span class="home" style="color:#FFD922;font-size:70px">d</span>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col center">
											<span class="" style="font-size:18px;color:#263147;font-weight:bolder">Tu premio fue agregado <br> a "Premios"</span>
										</div>
									</div>
									<div class="row" style="padding:top:3%;padding-bottom:3%">
										<div class="col center">
											<span class="" style="font-size: 12px;color: #A7A9AC;font-family: Roboto, Helvetica;">Te restan 22 Puntos en la promoción de <br> Domino's Pizza</span>
										</div>
									</div>
									<center>
										<a href="#/app/regalos" style="text-decoration:none">
											<div class="enterButtonStyle">
												<div class="enterButtonTitle open_sans" ng-click = 'closeModal()' href="#/app/regalos">
													IR A MIS PREMIOS
												</div>
											</div>
										</a>
									</center>
								</div>
							</div>


		        </ion-content>
		      </ion-modal-view>
		    </script>

  </ion-content>
</ion-view>
