.awardDescription {
  background: #263147;
  height: 150px;
}
/*Size award Description Image*/
.awardDescriptionImage {
  height: 100%;
  width: 100%;
}

.goModalExchange {
  float:right;
  height:41px;
  width:28%;
  background:#FF5252;
  border:none;
  border-radius:10px;
  /*font-weight: bolder;*/
  position:absolute;
  z-index:1;
  left:79%;
  margin-top:-1%;
  margin-left: -10%;
  font-size: 14px;
  color:white;
  font-family:Roboto, Helvetica, San Fransisco;
  box-shadow: 0px 3px 0px #D24646;
}

.goModalExchange:active{
  /* Disminiumos la cantidad de sombras */
  font-weight: bolder;
  -webkit-box-shadow: 0 2px 0 #C74545, 0 5px 10px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 2px 0 #C74545, 0 5px 10px rgba(0, 0, 0, .4);
  box-shadow: 0 2px 0 #C74545, 0 5px 10px rgba(0, 0, 0, .4);
  /* Movemos ligeramente el botón hacia abajo */
  margin-top: 0.10px;
}
/* WebKit browsers */
input.inputCodeVerificationStyle::-webkit-input-placeholder {
  font-size: 15px;
}
/* Mozilla Firefox 4 to 18 */
input.inputCodeVerificationStyle:-moz-placeholder {
  font-size: 15px;
}
/* Mozilla Firefox 19+ */
input.inputCodeVerificationStyle::-moz-placeholder {
  font-size: 15px;
}
/* Internet Explorer 10+ */
input.inputCodeVerificationStyle:-ms-input-placeholder {
  font-size: 15px;
}
