.BackgroundColor{
  background-color: #3F51B5;
  height: 100%;
}
/** if your code is upload on ios you need to add margin-top: 35px instead 10px **/
.mainDiv{
  background-color: white;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #64718f;
}
.penguin{
  font-size: 85px;
  padding-top: 30px;
  text-align: center;
  color:#3F51B5;
}
.title{
  color:black;
  font-size: 17px;
  text-align: center;
}
.title-spacing {
  font-weight: bold;
  /*padding-top: 10px;*/
  color:black;
  font-size: 17px;
  text-align: center;
}
.subtitle{
  font-weight: bolder;
  font-size: 17px;
  color: #263147;
}
.subtitle2{
  color: #263147;
  font-size: 17px;
  margin-top: 8px;
}
.inputBox{
  background-color: #E6E7E8;
  border-radius: 12px;
  /*height: 33px;*/
}
.genderTitle{
  color: #263147;
  font-size: 17px;
  margin-top: -8px;
}
.genderRow{
  margin-top: -8px;
}
.genderBoxMale{
  background-color: #E6E7E8;
  border-radius: 12px;
  text-align: center;
  height: 48px;
}
.genderBoxFemale{
  background-color: #E6E7E8;
  border-radius: 12px;
  margin-left: 7px;
  text-align: center;
  height: 48px;
}
.dateTitle{
  color: #263147;
  font-size: 17px;
  margin-top: 8px;
}
.dateBox{
  background-color: #E6E7E8;
  border-radius: 12px;
  height: 33px;
}
.enterButton{
  background-color: #FF5252;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 3px 0px #D24646;
}
.enterButtonTitle{
  color: white;
  font-size: 20px;
  padding-top: 2px;
}
.subtitle3{
  color: white;
  font-size: 17px;
  margin-top: 8px;
}
.loginTitle8{
  color:white;
  font-size: 11px;
  font-weight: bolder;
  margin-bottom: -5px;
}
.facebookButon{
  background-color:white;
  height: 35px;
  border-radius: 12px;
  border:none;
}
.facebookTitle{
  font-size: 19px;
  font-weight: bolder;
  color: #3F51B5;
  text-align: center;
  padding-top: 2px;
}
.singupButon{
  background-color: #00BAB9;
  border-radius: 12px;
  height: 35px;
  margin-left: 5px;
}
.singupTitle{
  text-align: center;
  font-size: 16px;
  color: white;
}
.termsLogin{
  color:white;
  font-size:12px;
  font-weight: bolder;
  text-align: center;
}
.forgotYourPassword{
  color:white;
  font-weight: bolder;
  text-decoration: underline;
}
.FacebookButtonLogin2 {
  background-color: #FFFFFF;
  height: 40px;
  border-radius: 12px;
  border: none;
  width: 170px;
  box-shadow: 0px 3px 0px #D2D8D7;
}

/*div {
  border:1px solid red;
}*/
