<ion-view class="BackgroundColorLogin2">
  <style>
    .col {
      padding: 0px;
    }
    /*This Style works for to hide ionic header line */
    .bar-header {
      border: 0px !important;
      border-bottom-color: transparent !important;
      background-image: none !important;
      border-bottom: none !important;
    }
  </style>
  <!-- Login 2 Content -->
  <ion-content ng-app="ionicApp" scroll="true">
    <!--*****  row for main div  *****-->
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 mainDiv">
        <!--*****  row from icon penguin  *****-->
        <div class="row">
          <div class="col PenguinIconCenter">
            <!--*****  penguin icon-->
            <img class="PenguinSize" src="img/pinguino.png" alt="penguin"/>
            <!--***** title  *****-->
            <p class="title-spacing">Crea una cuenta</p>
          </div>
        </div>
        <!-- Diving Line -->
        <hr class="DivingLineUp" color='#F1F2F2'>
        <!-- Principal row -->
        <div class="row PaddingDiv">
          <div class="col col-100 open_sans">
            <!-- Name -->
            <p class="NameTextLogin Left10px">Nombre (*)</p>
            <!-- Name input Box -->
            <label class="item item-input inputBox" style="border:{{ValidarEmail}}" >
              <input id="EmailSizeText" class='createUserName' type="text" ng-model="user.NameRegister" placeholder="">
            </label>
            <!-- Email -->
            <p class="EmailTextLogin Left10px">Correo electrónico (*)</p>
            <!-- Email input Box -->
            <label class="item item-input inputBox" style="border:{{ValidarEmail}}" >
              <input id="EmailSizeText" class="createUserEmail" type="email" ng-model="user.email" placeholder="correo@ejemplo.com">
            </label>
            <!-- Password -->
            <p class="PasswordTextLogin Left10px">Contraseña (*)</p>
            <!-- Password Input Box -->
            <label class="item item-input inputBox" style="border:{{Validarpassword}}">
              <input id="PasswordSizeText" class='createUserPassword' type="password" ng-model="user.password">
            </label>
            <!-- ​ Gender Container -->
            <p class="genderTitle Left10px">Género</p>
            <!-- Male Button Option -->
            <div class="row genderRow">
              <div class="col col-50 genderBoxMale item item-input" value="set background" ng-click="genderMaleStyle()" ng-style="genderMaleBStyle">
                <div class="MaleTextCenter">
                  Masculino
                </div>
              </div>
              <!-- Female Button Option -->
              <div class="col col-50 genderBoxFemale item item-input" value="set background" ng-click="genderFemaleleStyle()" ng-style="genderFemaleleBStyle">
                <div class="FemaleTextCenter">
                  Femenino
                </div>
              </div>
            </div>
            <!-- Birthday Title -->
            <p class="dateTitle Left10px">Fecha de nacimiento</p>
            <!-- Birthday Input -->
            <label class="item item-input dateBox"  style="height:48px">
              <input id="BirthdaySizeText" class='createUserBirthday' type="date" ng-model='user.birthday'>
            </label>
            <div class="PaddingSignUpButton">
              <center>
                <div class="enterButtonStyle" ng-click='Alert()' style="">
                  <div class="enterButtonTitle open_sans">
                    Crear
                  </div>
                </div>
              </center>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">
        <p class="loginTitleDescription">
          Inicia sesión con Facebook o con una cuenta existente.
        </p>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row" ng-controller="loginCtrlFacebook">
      <div class="col col-10"></div>
      <div class="col col-80" ng-controller="loginCtrlFacebook">
        <div class="row PaddingOptionButtons">
          <!-- Sign Up Button -->
          <div class="col col-50 emailLoginButton verticalAndHorizontalCenteredObjects"><!--emailLoginButton is found in login.css-->
            <a class="redirectionStyleNone" href="#/login" nav-transition="none">
              <div id="EmailTextLoginCenter" class="singupTitle open_sans EmailTextLoginCenter">
                Iniciar Sesión
              </div>
            </a>
          </div>
          <!-- Facebook Login Button -->
          <div class="col col-50 fbLoginButton" ng-click="loginfb()"><!--fbLoginButton is found in login.css-->
            <div id="FacebookTextLoginCenter" class="FacebookTextLogin FacebookTextLoginCenter"><!--FacebookTextLogin class is found in LoginAndRegister.css-->
              Facebook
            </div>
          </div>
        </div>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">
        <p class="termsLogin">
          * Los campos Correo electrónico y Contraseña son obligatorios.
        </p>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
