<ion-slide-box class="backgroundTutorial" on-slide-changed="slideChanged(index)" show-pager="false" >

  <!-- Secuencial Slide -->
  <ion-slide on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorialSecuencial open_sans verticalAndHorizontalCenteredObjects" >
      <img class="frenzyImage" src="img/frenzy.png" alt="frenzyIcon">
    </div>
  </ion-slide>

  <!-- First Slide -->
  <ion-slide on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorial1 scrollPromotion open_sans">
      <!-- Pig Icon -->
      <img class="iconTutorial" src="img/cerdo.png" alt="PigIconFrenzy">
      <!-- Titles -->
      <p class="titlesOfTheTutorial"><br>Ahorra en tus marcas favoritas</p>
      <!-- General Promotions for Average -->
      <div class="row">
        <!-- Offers and Promotions for Average -->
        <div class="row tutorialCustomerColumns"  style="padding-top:0 !important;">
          <!-- If find offers or promotions -->
          <div id="GeneralPaddingCols" class="col col-50" ng-repeat="customer in customers | orderBy:'-(QuantityCoupon + QuantityPromotion)' | limitTo:6">
            <tutorial-info customer="customer"></tutorial-info>
          </div>
        </div>
      </div>
    </div>
  </ion-slide>
  <!-- Second Slide -->
  <ion-slide  on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorial2 open_sans" >
      <!-- Frenzy Phone Icon -->
      <img class="iconTutorial" src="img/gift.png" alt="frenzyGift">
      <!-- Title -->
      <p class="titlesOfTheTutorial">También puedes acumular Puntos<br>y ganar muchos Premios</p>
      <!-- Gif container tutorial -->
      <br>
      <div class="generalContainerGifts">
        <div class="totalWidthTutorialContainer">
          <!-- Text Content Gif -->
          <div class="verticalCenteredObjects firstBoxGiftTutorial">
            <span style="font-size:16px;"><span style="font-family:BariolBold"></span>Paso 1 - Ingresa Códigos<br>
              <span class="giftDescription"><strong>Consigue los Códigos</strong> al consumir en las marcas <br> registradas e ingrésalos en Frenzy App.</span>
            </span>
          </div>
          <!-- Gif -->
          <div class="firstGifImageBackground">
            <img class="styleGif" src="img/insertCode.gif" alt="insertCodeFrenzy" />
          </div>
        </div>
      </div>

      <br>
      <div class="generalContainerGifts">
        <div class="totalWidthTutorialContainer">
          <!-- Text Content Gif -->
          <div class="verticalCenteredObjects firstBoxGiftTutorial">
            <span style="font-size:16px;"><span style="font-family:BariolBold"></span>Paso 2 - Gana y Acumula Puntos<br>
              <span class="giftDescription"><strong>Cambia los puntos acumulados</strong> por el premio que elijas en Frenzy App.</span>
            </span>
          </div>
          <!-- Gif -->
          <div class="secondGifImageBackground">
            <img class="styleGif" src="img/puntos.gif" alt="PointsFrenzy" />
          </div>
        </div>
      </div>

      <br>
      <div class="generalContainerGifts">
        <div class="totalWidthTutorialContainer">
          <!-- Text Content Gif -->
          <div class="verticalCenteredObjects firstBoxGiftTutorial">
            <span style="font-size:16px;"><span style="font-family:BariolBold"></span>Paso 3 - Canjea tus premios<br>
              <span class="giftDescription"><strong>Pide el Código de Verificación</strong> en cualquier tienda registrada en Frenzy App para recibir tu premio.</span>
            </span>
          </div>
          <!-- Gif -->
          <div class="thirdGifImageBackground">
            <img class="styleGif" src="img/canjea.gif" alt="changeGif" />
          </div>
        </div>
      </div>

      <br>
      <div class="generalContainerGifts">
        <div class="totalWidthTutorialContainer">
          <!-- Text Content Gif -->
          <div class="finalContentTutorial">
            <div>
              <img class="purpleAwardImage" src="img/purpleGift.png" alt="purpleAwardImage" />
            </div>
            <div class="IAStyleText">
              <span>¡Algunos códigos podrían <br> tener premios al instante!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-slide>
  <!-- Secuencial Slide -->
  <ion-slide on-slide-changed="slideChanged(index)">
    <div class="backgroundTutorialSecuencial open_sans verticalAndHorizontalCenteredObjects" >
      <img class="frenzyImage" src="img/frenzy.png" alt="frenzyIcon">
    </div>
  </ion-slide>
</ion-slide-box>
<!-- Footer Tabbar Tutorial -->
<ion-footer-bar align-title="left" class="footerBarStyle">
  <!-- Back button -->
  <button class="button button-positive button-clear no-animation" ng-click="previous()" id='backTutorial'>
    <span class="button icon ion-chevron-left"></span><!-- Icon Back Button Tutorial -->
    <span style="footerButtonTutorial">Anterior</span><!-- Text Back Button Tutorial -->
  </button>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="next()">
    <button class="button button-positive button-clear no-animation" id="nextButtonTutorial">
      <span style="footerButtonTutorial">Siguiente</span><!-- Text Next Button Tutorial -->
      <span class="button icon ion-chevron-right"></span><!-- Icon Next Button Tutorial -->
    </button>
  </div>
</ion-footer-bar>
