<ion-slide-box class="tutorialPageBackgroundColor" does-continue="true" show-pager="false" on-slide-changed="slideChanged(index)">
  <ion-slide>
    <!--**********  SLIDER BOXES  **********-->
    <!--*****  DIV RESPONSIVE NO.3  *****-->
    <div class="backgroundTutorialNo4 open_sans" >
      <!--*****  MAIN IMAGE NO.3  *****-->
      <img class="frenzyImageTutorial" src="img/frenzy.png" alt="nissan">
      <!--*****  BOTTOM BOX  *****-->
      <!--*****  TRIANGLES  *****-->
    </div>
      <!--*****  DIV GREY  *****-->
      <div class="greyBoxTutorial">
      <div class="newTriangleTutorial" style="background-image:url('img/m3.png');" ></div>
        <!--************  TITLE AND KEY IMAGE  ********************-->
        <div class="parpadea">
            <p class="tut1">Desliza hacia la izquierda</p>
        </div>
      </div>
    </div>
  </ion-slide>
    <!--**************************  FIRST SLIDE  *****************************-->
    <ion-slide>
      <!--**********  SLIDER BOXES  **********-->
      <!--*****  DIV RESPONSIVE NO.1  *****-->
      <div class="backgroundTutorialNo1 open_sans" >
        <!--*****  HOUSE IMAGE NO.1  *****-->
        <img class="imageHouseTutorialNo1" src="img/house.png" alt="nissan">
        <!--*****  TITLE NO.1.1  *****-->
        <p class="titleTutorial1-1">Busca y comparte promos y</p>
        <!--*****  TITLE NO.1.2  *****-->
        <p  class="titleTutorial1-2">cupones en toda Guate</p>
        <!--*****  MAIN IMAGE NO.1  *****-->
        <img class="imageTutorialNo1" src="img/1.png" alt="nissan">
        <!--*****  BOTTOM BOX  *****-->
        <!--*****  TRIANGLES  *****-->

    </div>
        <!--*****  DIV GREY  *****-->
        <div class="greyBoxTutorial">
          <div class="newTriangleTutorial" style="background-image:url('img/m3.png');" ></div>
          <!--************  TITLE AND KEY IMAGE  ********************-->
          <div class="parpadea">
              <p class="tut1">Desliza hacia la izquierda</p>
          </div>
        </div>
      </div>
    </ion-slide>
  <!--***********************************************************************-->
  <!--**************************  SECOND SLIDE  *****************************-->
  <ion-slide on-slide-changed="slideChanged(index)">
    <!--**********  SLIDER BOXES  **********-->
    <!--*****  DIV RESPONSIVE NO.2  *****-->
    <div class="backgroundTutorialNo2 open_sans" >
      <!--*****  HOUSE IMAGE NO.2  *****-->
      <img class="imageHouseTutorialNo1" src="img/heart.png" alt="nissan">
      <!--*****  TITLE NO.2.1  *****-->
      <p class="titleTutorial1-1">Recibe nuevas promos y</p>
      <!--*****  TITLE NO.2.2  *****-->
      <p  class="titleTutorial1-2">cupones de tus marcas favoritas</p>
      <!--*****  MAIN IMAGE NO.2  *****-->
      <img class="imageTutorialNo1" src="img/2.png" alt="nissan">
      <!--*****  BOTTOM BOX  *****-->
      <!--*****  TRIANGLES  *****-->
  </div>
      <!--*****  DIV GREY  *****-->
      <div class="greyBoxTutorial">
        <div class="newTriangleTutorial" style="background-image:url('img/m3.png');" ></div>
        <!--************  TITLE AND KEY IMAGE  ********************-->
        <div class="parpadea">
            <p class="tut1">Desliza hacia la izquierda</p>
        </div>
      </div>
    </div>
  </ion-slide>
  <!--**********************************************************************-->
  <!--**************************  THIRD SLIDE  *****************************-->
  <ion-slide  on-slide-changed="slideChanged(index)">
    <!--**********  SLIDER BOXES  **********-->
    <!--*****  DIV RESPONSIVE NO.3  *****-->
    <div class="backgroundTutorialNo3 open_sans" >
      <!--*****  HOUSE IMAGE NO.3  *****-->
      <img class="imageHouseTutorialNo1" src="img/pin.png" alt="nissan">
      <!--*****  TITLE NO.3.1  *****-->
      <p class="titleTutorial1-1">Guarda ofertas y cupones para</p>
      <!--*****  TITLE NO.3.2  *****-->
      <p  class="titleTutorial1-2">despues</p>
      <!--*****  MAIN IMAGE NO.3  *****-->
      <img class="imageTutorialNo1" src="img/3.png" alt="nissan">
      <!--*****  BOTTOM BOX  *****-->
      <!--*****  TRIANGLES  *****-->
  </div>
      <!--*****  DIV GREY  *****-->
      <div class="greyBoxTutorial">
        <div class="newTriangleTutorial" style="background-image:url('img/m3.png');" ></div>
        <!--************  TITLE AND KEY IMAGE  ********************-->
        <div class="parpadea">
            <p class="tut1">Desliza hacia la izquierda</p>
        </div>
      </div>
    </div>
  </ion-slide>
  <!--**********************************************************-->
  <!--**********************************************************-->

</ion-slide-box>
