.settingsCircleOne {
    background-color: #3F51B5;
    padding-bottom: 30px;
}

.settingsCircleTwo {
    background-color: #9C28B0;
}

.settingsCircleThree {
    background-color: #00BAB9;
}

.settingsCircleFour {
    background-color: #FF5252;
}

.settingsCircle {
    height: 50px;
    width: 50px;
    border-radius: 23px;
}

.settingsTermsTitle {
    margin-top: 15px;
    font-size: 20px;
}

.settingsRobotIcon {
    color: white;
    font-size: 40px;
    text-align: center;
}

.settingsUpSpace {
    margin-top: 25px;
}

.settingsUpSpace2 {
    margin-top: 5px;
}
/***************  SPOILER  ***************/
input[id^="spoiler"] {
    display: none;
}

input[id^="spoiler"]:checked + label {
    color: #333;
    background: white;
}

input[id^="spoiler"] ~ .spoiler {
    width: 85%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-left: 7%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all .6s;
    box-shadow: 3px 3px 2px #BDBDBD;
    padding-left: 10px;
    padding-right: 10px;
}

input[id^="spoiler"]:checked + label + .spoiler {
    height: auto;
    opacity: 1;
}