<style>
    .bar.bar-positive    {
    	box-shadow: 0 0 0px white;
    }
</style>
 <!-- if your code is uploader on ios you need to add this code of css in the line number 10 -->
 <!-- style="margin-top:-10px" -->
<ion-view>
    <ion-content style="background-color:#F1F2F2">
        <!--**************  TERMINOS   *******************-->
        <a href="javascript:MostrarOcultar('texto1');" style="text-decoration:none;" ng-click = "AnalyticsTools('Terminos')">
            <div class="row" style="margin-top:25px">
                <div class="col col-33">
                    <!--**********  ICON CATEGORIES  **********-->
                    <div class="verticalAndHorizontalCenteredObjects">
                      <img class="pageStartIconsStyleGeneraly" src="img/icn-43.png" alt="RobotFrenzy" />
                    </div>
                </div>
                <div class="col open_sans">
                    <p class="settingsTermsTitle">Términos</p>
                </div>
            </div>
        </a>
        <div class="cp_oculta settingsBoxHide" id="texto1">
            <p><b>Condiciones de Servicio ("Términos")</b></p>
            <p>
                Última actualización: 20 de agosto 2015
                Por favor, lea estos Términos de Servicio ("Términos", "Términos de Servicio") antes de utilizar el sitio web frenzy.com.gt y la aplicación móvil Frenesí (el "Servicio") operado por Frenesí SA ("nosotros", "nosotros" , o "nuestro").
                Su acceso y uso del Servicio está condicionado a la aceptación y cumplimiento de las presentes Condiciones. Estas Condiciones se aplican a todos los visitantes, usuarios y otras personas que accedan o usen el servicio.
            </p>
            <p><b>
                Al acceder o utilizar el Servicio, usted acepta que quedará vinculado por estas Condiciones. Si no está de acuerdo con alguna parte de los términos, entonces no puede acceder al Servicio.
                </b>
            </p>
            <p><b>
                Propiedad intelectual
                </b>
            </p>
            <p>
                El Servicio y sus contenidos originales, características y funcionalidad son y seguirán siendo propiedad exclusiva de Frenesí SA y sus licenciantes. El Servicio está protegido por derechos de autor, marca registrada, y otras leyes tanto de la Guatemala y otros países. Nuestras marcas y la imagen comercial no pueden ser utilizadas en conexión con cualquier producto o servicio sin el consentimiento previo por escrito de Frenesí SA
            </p>
            <p><b>
                Enlaces a otros sitios Web Site
                </b>
            </p>
            <p>
                Nuestro Servicio puede contener enlaces a sitios web de terceros o servicios que no son propiedad o están controladas por Frenesí SA
                Frenesí SA no tiene control sobre, y no asume ninguna responsabilidad por el contenido, políticas de privacidad o las prácticas de sitios web o servicios de terceros. Además, usted reconoce y acepta que Frenesí SA no será responsable o estará obligado, directa o indirectamente, por cualquier daño o pérdida causada o supuestamente causada por o en conexión con el uso o la credibilidad en cualquier Contenido, bienes o servicios disponibles en oa a través de dichos sitios o servicios web.
                Le aconsejamos que lea los términos y condiciones y las políticas de privacidad de los sitios Web de terceros o servicios que usted visite.
            </p>
            <p><b>
                Terminación
                </b>
            </p>
            <p>
                Podemos cancelar o suspender su acceso inmediato y sin previo aviso o responsabilidad, por cualquier motivo, incluyendo, sin limitación, si usted no cumple con las condiciones.
                A la terminación, su derecho a utilizar el Servicio cesará inmediatamente.
            </p>
            <p><b>
                Limitación de responsabilidad
                </b>
            </p>
            <p>
                En ningún caso, Frenesí SA, ni sus directores, empleados, socios, agentes, proveedores o afiliados, serán responsables de los daños indirectos, incidentales, especiales, consecuenciales o punitivos, incluyendo sin limitación, pérdida de beneficios, datos, uso, buena voluntad u otras pérdidas intangibles, como resultado de (i) el acceso o el uso o la imposibilidad de acceder o utilizar el Servicio; (ii) cualquier conducta o contenido de terceros en el Servicio; (iii) cualquier contenido obtenido del Servicio; y (iv) el acceso no autorizado, del uso o alteración de sus transmisiones o contenido, ya sea basado en garantía, contrato, agravio (incluyendo negligencia) o cualquier otra teoría legal, o no se nos ha informado de la posibilidad de tales daños, e incluso si un remedio expuesto en este documento se encuentra que han fracasado en su propósito esencial.
            </p>
            <p><b>
                Descargo de responsabilidad
                </b>
            </p>
            <p>
                La utilización del servicio es bajo su propio riesgo. El Servicio se proporciona "TAL CUAL" y "SEGÚN DISPONIBILIDAD". El servicio se proporciona sin garantías de ningún tipo, ya sea expresa o implícita, incluyendo, pero sin limitarse a, las garantías implícitas de comerciabilidad, adecuación para un propósito particular, no infracción o curso de rendimiento.
                Frenesí SA sus subsidiarias, afiliadas, y sus licenciantes no garantizan que a) el Servicio funcionará ininterrumpida, segura o disponibles en cualquier momento o lugar determinado; b) los errores o defectos serán corregidos; c) el Servicio esté libre de virus u otros componentes dañinos; o d) los resultados de la utilización del Servicio se adapte a sus necesidades.
            </p>
            <p><b>
                Ley que rige
                </b>
            </p>
            <p>
                Estos Términos se regirán e interpretarán de acuerdo con las leyes de Guatemala, sin consideración a su conflicto de disposiciones legales.
                Nuestra incapacidad para hacer cumplir cualquier derecho o disposición de estas Condiciones no se considerará una renuncia a esos derechos. Si alguna disposición de estos Términos es considerada inválida o inaplicable por un tribunal, las restantes disposiciones de estas Condiciones permanecerán vigentes. Estos Términos y Condiciones constituyen el acuerdo completo entre nosotros en relación con nuestro Servicio, y sustituyen y reemplazan cualquier acuerdo anterior, tengamos entre nosotros en relación con el Servicio.
            </p>
            <p><b>ios
                </b>
            </p>
            <p>
                Nos reservamos el derecho, a nuestra sola discreción, de modificar o sustituir estas Condiciones en cualquier momento. Si la revisión es el material vamos a tratar de proporcionar por lo menos 30 días de antelación antes de las nuevas condiciones que surtan efecto. Lo que constituye un cambio material será determinado a nuestra discreción.
                Al continuar accediendo o utilizar nuestro servicio después de esas revisiones se hacen efectivos, usted acepta que quedará vinculado por los términos revisados. Si no acepta los nuevos términos, por favor, deje de usar el Servicio.
            </p>
            <p><b>
                Contáctenos
                </b>
            </p>
            <p>
                Si usted tiene alguna pregunta acerca de estos Términos, por favor póngase en contacto con nosotros.
            </p>
        </div>
        </div>
        <!--**************** CONDICIONES  ****************-->
        <!--**********************************************-->
        <a href="javascript:MostrarOcultar('texto2');" style="text-decoration:none;"  ng-click = "AnalyticsTools('Condiciones')">
            <div class="row" style="margin-top:10px;">
                <div class="col col-33">
                    <!--**********  ICON CATEGORIES  **********-->
                    <div class="verticalAndHorizontalCenteredObjects">
                      <img class="pageStartIconsStyleGeneraly"  src="img/icn-44.png" alt="PirateFrenzy" />
                    </div>
                </div>
                <div class="col open_sans">
                    <p class="settingsTermsTitle">Condiciones</p>
                </div>
            </div>
        </a>
        <div class="cp_oculta settingsBoxHide" id="texto2">
            <p><b>
                Datos Personales recogidos para las siguientes finalidades y utilizando los siguientes servicios:
                </b>
            </p>
            <p><b>
                Acceso a las cuentas de servicios de terceros
                </b>
            </p>
            <p>
                Acceso a la cuenta de Facebook
                Permisos: Acerca de mí, Ciudad actual, Ciudad de origen, Cumpleaños y Dirección de correo electrónico
            </p>
            <p><b>
                Interacción con redes sociales y plataformas externas
                </b>
            </p>
            <p>
                Botón “Me gusta” y widgets sociales de Facebook
                Datos Personales: Cookie y Datos de uso
            </p>
            <p><b>
                Estadísticas
                </b>
            </p>
            <p>
                Parse Analytics y Google Analytics
                Datos Personales: Cookie y Datos de uso
            </p>
        </div>
        </div>
        <!--************** CONTACTOS *********************-->
        <a href="javascript:MostrarOcultar('texto3');" style="text-decoration:none;"  ng-click = "AnalyticsTools('Contactos')">
            <div class="row" style="margin-top:10px;">
                <div class="col col-33">
                    <!--**********  ICON CATEGORIES  **********-->
                    <div class="verticalAndHorizontalCenteredObjects">
                      <img class="pageStartIconsStyleGeneraly" src="img/icn-45.png" alt="MonkeyFrenzy" />
                    </div>
                </div>
                <div class="col col-50 open_sans">
                    <p class="settingsTermsTitle">Contactos</p>
                </div>
            </div>
        </a>
        <div class="cp_oculta settingsBoxHide" id="texto3">
            <p><b>Pagina web</b></p>
            <p>http://www.frenzy.com.gt/</p>
            <p><b>Facebook</b></p>
            <p>https://www.facebook.com/frenzygt</p>
            <p><b>Correo</b></p>
            <p>innova@frenzy.com.gt</p>
        </div>
        <!--************ TUTORIAL  ***********************-->
        <a href="#/tutorial2" style="text-decoration:none;"  ng-click = "AnalyticsTools('Tutorial')">
            <div class="row" style="margin-top:10px;">
                <div class="col col-33">
                    <!--**********  ICON CATEGORIES  **********-->
                    <div class="verticalAndHorizontalCenteredObjects">
                      <img class="pageStartIconsStyleGeneraly" src="img/icn-46.png" alt="NinjaFrenzy" />
                    </div>
                </div>
                <div class="col open_sans">
                    <p class="settingsTermsTitle">Tutorial</p>
                </div>

            </div>
        </a>
        <!--************ CERRAR FACEBOOK *****************-->
        <div class="row" style="margin-top:10px;"  ng-click = "AnalyticsTools('CerrarFB')">
            <div class="col col-33">
                <!--**********  ICON CATEGORIES  **********-->
                <div class="verticalAndHorizontalCenteredObjects">
                  <img class="pageStartIconsStyleGeneraly" src="img/icn-47.png" alt="CloseFrenzy" />
                </div>
            </div>
            <div class="col open_sans">
                <p class="settingsTermsTitle" ng-click="logout()">Cerrar Sesión</p>
            </div>
        </div>
    </ion-content>
</ion-view>
