<style>
.bar.bar-positive    {
box-shadow: 0 0 0px white;
}
</style>

<ion-view ng-repeat = "cupon in cupons | filter: {TypeCoupon:'Fecha'}">
	<ion-content style="background-color:#F1F2F2;">
		<div class="OffersContainer">
			<!-- Label Price -->
			<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label">
			<!-- Price Text Offers -->
			<div class="row BoxPriceLabel">
				<div class="col col-25 BoxLabel">
					<p id="NothingSpace" class="AhorraTextLabel">
						Canjea
					</p>
					<p class="SavingPriceLabel {{super.TypePromotion}}">
						{{cupon.CanjeaQ}}{{cupon.Canjea}}{{cupon.CanjeaP}}
					</p>
				</div>
			</div>
			<!-- Width of the Offers Image -->
			<img class="imageOffertsAndCoupons" ng-src="{{cupon.PhotoCupon._url}}" alt="CouponImage">
			<!-- Promotion Description -->
			<div class="row">
				<p class="OfferDescriptionTitle open_sans">
					{{cupon.Presentation }}
				</p>
			</div>
			<!-- Promotion Description Text -->
			<div class="row">
				<p class="pageFavoritesDescription open_sans home">
					W
				</p>
			</div>
		</div>
		 <div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripcion y Condiciones</p>
		</div>
		<div>
			<p class="cuponsDescriptionMainDescription">
				{{cupon.description}}
			</p>
		</div>
		<br>
		<div>
			<div class="loader" style="margin-top:px;">
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
			</div>
		</div>
		<div class="availableCupones open_sans">Del {{cupon.Publication_Date.toLocaleDateString()}} Al {{cupon.End_Date.toLocaleDateString()}}</div>
		<a style="text-decoration:none;"  class="botonCanjear">
			<div style="display:{{noneDisplay[0].none}};">
				<div ng-click="buttonCash(); countCoupon()"  >
					<div>
						<div id="popup">
							<p class="exchangeButonStyle">Canjear</p>
						</div>
					</div>
				</div>
			</div>
		</a>
		<div>
			<div class="row">
				<div class="col col-10"></div>
				<div class="col col-80 exchangeBoxBarCode" style="display:{{noneDisplay[0].inline}};">
					<img class="exchangeBoxBarCodeImage" src="{{cupon.BarCodePhoto._url}}" alt="" >
				</div>
				<div class="col col-10"></div>
			</div>
		</div>
		<div class="exchangeButtonBlankSpaceButton"></div>
		<div class="">

		</div>
	</ion-content>
</ion-view>

<!-- Coupon with Image -->
<ion-view ng-repeat = "cupon in cupons | filter: {TypeCoupon:'Cupon'}">
	<ion-content id="CouponScroll" style="background-color:#F1F2F2;">
		<!-- Label Price -->
		<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" style="display:{{super.display}};">
		<!-- Price Text Offers -->
		<div class="row BoxPriceLabel">
			<div id="GeneralPaddingCols0" class="col col-25 BoxLabel">
				<p id="NothingSpace" class="cuponsDescriptionsLabelExchance">
					Canjea
				</p>
				<p class="pageFavoritesSavingPrice">
					{{cupon.CanjeaQ}}{{cupon.Canjea}}{{cupon.CanjeaP}}
				</p>
			</div>
		</div>
		<!-- Coupon Image -->
		<img class="cuponsDescriptionImage" src="{{cupon.PhotoCupon._url}}" alt="nissan" style="display:{{cupon.DisplayWithoutImageCoupons}}">
		<img class="cuponsDescriptionImage" src="{{cupon.PhotoCupons}}" alt="nissan" style="display:{{cupon.DisplayWithImageCoupons}}">
		<!-- Purple Container -->
		<div class="PurpleCouponsDescription">
			<div class="row">
				<div class="col col-80 cuponsDescriptionTitle open_sans">
					{{cupon.Presentation }}
				</div>
				<div class="col col-20">
					<div class="cuponsDescriptionPinCircle home">W</div>
				</div>
			</div>
		</div>
		<!-- Semi-Circle Container -->
		<div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<!-- Description and Statements -->
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripcion y Condiciones</p>
		</div>
		<!-- Coupon Description -->
		<div>
			<p class="couponsDescriptionMainDescription">
				{{cupon.description}}
			</p>
		</div>
		<br>
		<!-- Coupon Loading -->
		<div>
			<div class="loader">
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
			</div>
		</div>
		<!-- Coupon Exchanged -->
		<div class="availableCupones open_sans">Cupones Canjeados: {{cupon.QuantityExchanged}} de {{cupon.QuantityCoupons}} </div>
		<!-- Button Coupon Exchanged -->
		<a style="text-decoration:none;"  class="botonCanjear">
			<div style="display:{{noneDisplay[0].none}};">
				<div ng-click="reloadpage(); buttonCash()">
					<div>
						<div id="popup">
							<p class="exchangeButonStyle" ng-click="countCoupon()">Canjear</p>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!-- Bar Code Image Coupon -->
		<div>
			<div class="row">
				<div class="col col-10"></div>
				<div class="col col-80 exchangeBoxBarCode" style="display:{{noneDisplay[0].inline}}">
					<img class="exchangeBoxBarCodeImage verticalAndHorizontalCenteredObjects" src="{{cupon.BarCodePhoto._url}}" alt="BarCodeFrenzy" >
				</div>
				<div class="col col-10"></div>
			</div>
			<!-- style="position:{{HideStyleButtonExchangePosition}};bottom:{{HideStyleButtonExchangeBottom}}" -->
			<div class="bar subFooter" style="position:{{HideStyleButtonExchangePosition}};bottom:{{HideStyleButtonExchangeBottom}}">
				<div class="LegalTerms verticalCenteredObjects col col-90">Términos Legales</div>
				<div class="TermButton">
					<a id="Terms" class="button icon icon-right ion-chevron-right col" href="#/app/termsAndConditions/{{cupon.IDCupon}}"></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
