<style>
.bar.bar-positive    {
box-shadow: 0 0 0px white;
}
</style>
<!-- Type Date -->
<ion-view>
	<ion-content id="CouponScroll" style="background-color:#F1F2F2;">
		<!-- Label Price -->
		<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" >
		<!-- Price Text Offers -->
		<div class="row BoxPriceLabel">
			<div id="GeneralPaddingCols0" class="col col-33 BoxLabel">
				<p id="NothingSpace" class="cuponsDescriptionsLabelExchance">
					Canjea
				</p>
				<p class="pageFavoritesSavingPrice" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
					Q. {{cupon.CouponDiscount}}
				</p>
				<p class="pageFavoritesSavingPrice" ng-if="cupon.TypeOfExchange != 'DirectDiscount'">
					{{cupon.CouponDiscount}}%
				</p>
			</div>
		</div>
		<!-- Coupon Image -->
		<img class="cuponsDescriptionImage" src="{{cupon.PhotoCoupon}}" alt="frenzy" >
		<!-- Purple Container -->
		<div class="PurpleCouponsDescription">
			<div class="row">
				<div class="col cuponsDescriptionTitle open_sans">
					{{cupon.Name}}
				</div>

			</div>
		</div>
		<!-- Semi-Circle Container -->
		<div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<!-- Description and Statements -->
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripcion y Condiciones</p>
		</div>
		<!-- Coupon Description -->
		<div>
			<p class="couponsDescriptionMainDescription">
				{{cupon.CouponDescription}}
			</p>
		</div>
		<br>
		<!-- Coupon Loading -->
		<div>
			<div class="loader">
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
			</div>
		</div>
		<!-- Coupon Exchanged -->
		<div class="availableCupones open_sans">Del {{cupon.PublicationDate}} Al {{cupon.EndDate}}</div>
		<!-- Button Coupon Exchanged -->
		<a style="text-decoration:none;"  class="botonCanjear">
			<div >
				<div ng-click="reloadpage(); buttonCash()">
					<div>
						<div id="popup">
							<p class="exchangeButonStyle" ng-click="countCoupon()">Canjear</p>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!-- Bar Code Image Coupon -->
		<div>
			<div class="row">
				<div class="col col-20"></div>
				<div class="col col-60 exchangeBoxBarCode" style="text-align:center">
						<h1 class="exchangeBoxBarCodeImage verticalAndHorizontalCenteredObjects">{{cupon.CodeCoupon}}</h1>
				</div>
				<div class="col col-20"></div>
			</div>
			<a href="#/app/termsAndConditions/{{cupon.$id}}" >
				<div class="bar subFooter" >
					<div class="LegalTerms verticalCenteredObjects col col-90">Términos Legales</div>
					<div id="Terms" class="TermButton button icon icon-right ion-chevron-right col"></div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
<!-- TODO Delete -->
<!-- Type Coupon -->
<!-- <ion-view ng-repeat = "cupon in cupons | filter: {TypeCoupon:'Cupon'}"> -->
	<ion-content id="CouponScroll" style="background-color:#F1F2F2;">
		<!-- Label Price -->
		<img class="labelOfferts" src="img/etiquetaOfertas.png" alt="label" style="display:{{super.display}};">
		<!-- Price Text Offers -->
		<div class="row BoxPriceLabel">
			<div id="GeneralPaddingCols0" class="col col-33 BoxLabel">
				<p id="NothingSpace" class="cuponsDescriptionsLabelExchance">
					Canjea
				</p>
				<p class="pageFavoritesSavingPrice" ng-if="cupon.TypeOfExchange == 'DirectDiscount'">
					Q. {{cupon.CouponDiscount}}
				</p>
				<p class="pageFavoritesSavingPrice" ng-if="cupon.TypeOfExchange != 'DirectDiscount'">
					{{cupon.CouponDiscount}}%
				</p>
			</div>
		</div>
		<!-- Coupon Image -->
		<img class="cuponsDescriptionImage" src="{{cupon.PhotoCoupon}}" alt="nissan" >
		<!-- Purple Container -->
		<div class="PurpleCouponsDescription">
			<div class="row">
				<div class="col cuponsDescriptionTitle open_sans">
					{{cupon.Name}}
				</div>
				<!-- <div class="col col-20">
					<div class="cuponsDescriptionPinCircle home" id="{{cupon.IDCupon}}" ng-click="changeColorPinCupon('{{cupon.IDCupon}}')" style="color:{{cupon.ColorPinCupon}}">W</div>
				</div> -->
			</div>
		</div>
		<!-- Semi-Circle Container -->
		<div class="row cuponsDescriptionDiv3">
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
			<p class="semi-circulo"></p><p class="semi-circulo"></p>
		</div>
		<br>
		<!-- Description and Statements -->
		<div>
			<p class="cuponsDescriptionTitleDescription">Descripcion y Condiciones</p>
		</div>
		<!-- Coupon Description -->
		<div>
			<p class="couponsDescriptionMainDescription">
				{{cupon.CouponDescription}}
			</p>
		</div>
		<br>
		<!-- Coupon Loading -->
		<div>
			<div class="loader">
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
				<div class="side"></div>
			</div>
		</div>
		<!-- Coupon Exchanged -->
		<div class="availableCupones open_sans" id="QuantityExchangedText">Cupones Canjeados: {{cupon.QuantityExchanged}} de {{cupon.QuantityCoupons}} </div>
		<!-- Button Coupon Exchanged -->
		<a style="text-decoration:none;"  class="botonCanjear">
			<div >
				<div ng-click="reloadpage(); buttonCash()">
					<div>
						<div id="popup">
							<p class="exchangeButonStyle" ng-click="countCoupon()">Canjear</p>
						</div>
					</div>
				</div>
			</div>
		</a>
		<!-- Bar Code Image Coupon -->
		<div>
			<div class="row">
				<div class="col col-10"></div>
				<div class="col col-80 exchangeBoxBarCode" >
					<img class="exchangeBoxBarCodeImage verticalAndHorizontalCenteredObjects" src="{{cupon.BarCodePhoto}}" alt="BarCodeFrenzy" >
				</div>
				<div class="col col-10"></div>
			</div>
			<div class="row">
				<div class="col availableCupones open_sans">
					Válido hasta:&nbsp;{{cupon.EndDate}}
				</div>
			</div>
			<br>
			<!-- style="position:{{HideStyleButtonExchangePosition}};bottom:{{HideStyleButtonExchangeBottom}}" -->
			<a href="#/app/termsAndConditions/{{cupon.$id}}" >
				<div class="bar subFooter" style="position:none;bottom:none">
					<div class="LegalTerms verticalCenteredObjects col col-90">Términos Legales</div>
					<div id="Terms" class="TermButton button icon icon-right ion-chevron-right col"></div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
