<link rel="stylesheet" type="text/css" href="templates/categories/categories_style.css">
<!-- Boxes Design -->
<div class="categoriesBoxes col col-100">
  <!-- Customer Image with Conexion -->
  <div class="CenteredCustomerImage" ng-controller="changeColorHeartCtrl" id="{{customer.Name}}">
    <img class="imageCategoryBoxes" ng-src="{{customer.Logo}}" alt="image" ng-click='UrlC("{{customer.Name}}")'>
  </div>
  <div id="colRestaurantes" class="col {{customer.CategoryApp}}">
    <!-- Customer Description -->
    <div id="infoCol1" class="row">
      <div id="infoCol2" class="col col-80">
        <spam class="Price{{customer.CategoryApp}}">
          {{customer.QuantityCoupon + customer.QuantityPromotion}}
        </spam>
        <spam class="Title{{customer.CategoryApp}}">
          ofertas
        </spam>
        <br>
        <spam class="AveragePrice{{customer.CategoryApp}}">
          Q{{customer.AverageSaving}}
        </spam>
        <spam class="AverageTitle{{customer.CategoryApp}}">
          promedio
        </spam>
      </div>
      <div id="infoCol3" class="col col-20 categoriesHeartIcon" ng-controller="changeColorHeartCtrl">
        <div class="home HeartCentered" id="{{customer.lastText}} {{customer.Name}}" name="{{customer.Name}}" ng-click='ChangeColorHeart("{{customer.$id}}")'style="color:{{ favorites[customer.$id] ? 'red':'white'}}">B</div>
      </div>
    </div>
  </div>
</div>
