<link rel="stylesheet" type="text/css" href="templates/categories/categories_style.css">
<!-- Boxes Design -->
<div class="categoriesBoxes col col-100">
  <!-- Customer Image with Conexion -->
  <div class="CenteredCustomerImage" ng-controller="changeColorHeartCtrl" id="{{info.Name}}">
    <img class="imageCategoryBoxes" ng-src="{{info.Logo}}" alt="image" ng-click='UrlC("{{info.Name}}")'>
  </div>
  <div id="colRestaurantes" class="col {{info.CategoryApp}}">
    <!-- Customer Description -->
    <div id="infoCol1" class="row">
      <div id="infoCol2" class="col col-80">
        <spam class="Price{{info.CategoryApp}}">
          {{info.QuantityCoupon + info.QuantityPromotion}}
        </spam>
        <spam class="Title{{info.CategoryApp}}">
          ofertas
        </spam>
        <br>
        <spam class="AveragePrice{{info.CategoryApp}}">
          Q{{info.AverageSaving}}
        </spam>
        <spam class="AverageTitle{{info.CategoryApp}}">
          promedio
        </spam>
      </div>
      <div id="infoCol3" class="col col-20 categoriesHeartIcon" ng-controller="changeColorHeartCtrl">
        <div class="home HeartCentered" id="{{info.lastText}} {{info.Name}}" name="{{info.Name}}" ng-click='ChangeColorHeart("{{info.$id}}")'style="color:{{ favorites[info.$id] ? 'red':'white'}}">B</div>
      </div>
    </div>
  </div>
</div>
