/*Customer with Heart Container Style*/
.pageYourFavoritesGreyLine {
  background-color: #E6E7E8;
  height: 40px;
  padding: 5px 5px 5px 20px;
}
/*Icon Heart Style*/
.pageYourFavoritesIconHeart {
  font-size: 27px;
  color: #FF5252;
}
/*Customer Name Style for Heart Container*/
.pageYourFavoritesStablishmentName {
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  color: black
}
/*Bigger Than Symbol style*/
.BiggerThanColorAndPosition {
  height: 30px;
  color: silver;
  font-size: 25px
}
/*Your Favorite Saved Style Box*/
.pageYourFavoritesWhiteBox {
  height: 90px;
  background-color: white;
  padding: 12px 5px 5px 20px;
  border-bottom: 1px solid #E6E7E8;
}
/*Your FavoriteTitle*/
.pageYourFavoritesOffert {
  font-size: 13px;
  font-weight: bold;
}
/*Your Favorite Price*/
.pageYourFavoritesPriceOffert {
  font-size: 11px;
  line-height: 2px;
}
/*Your Favorite Description*/
.pageYourFavoritesOffertDescription {
  font-size: 11px;
  color: #A4A4A4;
}
/*Pin Icon Styles*/
.pinIconContainer {
  position: relative;
}
.pageYourFavoritesIconPin {
  width: 100%;
  color: silver;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
