<style>
    .bar.bar-positive    {
    	box-shadow: 0 0 0px white;
    }
</style>
<ion-view>
    <!--*****  SECOND TAB HEADER  *****-->
    <div class="row pageFavoritesSecondRow" style="height:35px;margin-top:44px;position:absolute; z-index:1;">
        <!--**********  OFFERTS  **********-->
        <div class="col col-50">
            <a class="pageFavoritesOurFavorites" nav-transition="none" href="#/app/favoritos">
                <!--*****  TITLE AND FUNCITION OUR FAVORITES  *****-->
                <p class="pageFavoritesOurFavoritesTitle" id="offertsFunction" style="color:#D8D8D8;">
                    Nuestros Favoritos
                </p>
                <!--**********  OUR FAVORITES LINE DECORATION  **********-->
                <hr  class="pageFavoritesLineDecoration" id="lineOffertsFunction" style="background-color:#D8D8D8;">
            </a>
        </div>
        <div class="col col-50">
            <a class="pageFavoritesYourFavorites" nav-transition="none" href="#/app/tusFavoritos"  >
                <!--**********  TITLE AND FUNCTION YOUR FAVORITES  **********-->
                <p class="pageFavoritesOurFavoritesTitle" id="cuponsFunction" style="color:white">
                    Tus Favoritos
                </p>
                <!--**********  YOUR FAVORITES LINE DECORATION  **********-->
                <hr class="pageFavoritesLineDecoration pageFavoritesLineDecorationYourFavorites" id="lineCuponsFunction" style="background-color:white;">
            </a>
        </div>
    </div>
    <!-- if your code is uploader on ios you need to add this code of css in the line number 34 -->
    <!-- style="margin-top:-10px" -->
    <!--*****  SECOND TAB HEADER  *****-->
    <ion-content ng-controller="AllFavoriteCtrl" ng-init="chats[$index -1].Category != chats[$index - 1].Category">
        <div style="height:31px;"></div>
        <div ng-repeat="favorite in chats">
            <!--************  YOUR FAVORITES BODY  *******************-->
            <a style="text-decoration:none;" nav-transition="none" ng-if="chats[$index].Category != chats[$index - 1].Category">
                <div class="row pageYourFavoritesGreyLine" style="margin-top:1px;">
                    <!--*****  ICON HEART COLOR RED  *****-->
                    <div class="col col-10 pageYourFavoritesIconHeart">
                        <spam class="home">B</spam>
                    </div>
                    <!--*****  NAME'S STABLISHMENT  *****-->
                    <div class="col col-75" style="margin-top:-5px;">
                        <spam class="open_sans overFlowText pageYourFavoritesStablishmentName">{{favorite.Category | commaBreak}}</spam>
                    </div>
                    <!--*****  ICON ARROW RIGHT  *****-->
                    <div class="col col-10 ">
                        <spam class="home" style="color:silver; padding-top:-3px;">></spam>
                    </div>
                </div>
            </a>
            <!--*****  SECOND ROW DESCRIPTION OF YOUR FAVORITE STABLISHMENT  *****-->
            <div class="row row-border pageYourFavoritesWhiteBox" ng-if="chats[$index].Category != chats[$index - 2].Category">
                <div class="col col-80 pageYourFavoritesWhiteBoxTop">
                    <!--**********  OFFERT  **********-->
                    <p class="overFlowText pageYourFavoritesOffert">
                        {{favorite.name}} - {{favorite.presentation}}
                    </p>
                    <!--**********  PRICE OFFERT  **********-->
                    <p class="pageYourFavoritesPriceOffert">
                        Oferta - {{favorite.promotionalPrice | currency: 'Q'}}
                    </p>
                    <!--**********  OFFERT DESCRIPTION  **********-->
                    <p class="overFlowText pageYourFavoritesOffertDescription">
                        {{favorite.description}}
                    </p>
                </div>
                <!--**********  PIN ICON**********-->
                <div class="col col-20">
                    <p class="home pageYourFavoritesIconPin" id="{{favorite.IDpromotion}}" ng-click="SalvadosSaveAndDelete('{{favorite.IDpromotion}}')"  style="color:{{favorite.ColorPin}}">
                        W
                    </p>
                </div>
            </div>
        </div>
        <div ng-repeat="favorite in chats  | filter: {oferta : 'noHay'}">
            <div class="open_sans boxbox">
                <p class="savedPageNoItemBlankSpace">
                    f
                </p>
                <p class="home savedPageNoItemsIcon">f</p>
                <p class="savedPageNoItemsTitle">
                    Uh-uH
                </p>
                <p class="savedPageNoItemsDescription">No tienes ningun elemento agregado a</p>
                <p class="savedPageNoItemsDescription">esta lista. Agrega ofertas y cupones</p>
                <p class="savedPageNoItemsDescription">para usarlos despues.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
