<style>
    .bar.bar-positive    {
    	box-shadow: 0 0 0px white;
    }
</style>
<ion-view>
  <ion-header-bar id="positive" class="bar bar-subheader bar-positive positive">
		<!-- Offers and Coupons Tab with Popover -->
		<div class="row">
			<div id="GeneralPaddingCols" class="col col-50">
				<a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/favoritos">
					<div class="OffersAndCouponsTabText" id="offertsFunction">
						Nuestros Favoritos
						<hr class="pageFavoritesLineDecorationOffers" id="lineOffertsFunction">
					</div>
				</a>
			</div>
			<div id="GeneralPaddingCols" class="col col-50" style="margin-left:5px">
				<a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/tusFavoritos" >
					<div class="OffersAndCouponsTabText" style="color:white">
						Tus Favoritos
						<hr class="pageFavoritesLineDecorationOffers" style="color:white;background-color:white">
					</div>
				</a>
			</div>
		</div>
	</ion-header-bar>

  <!-- Your Favorites Container -->
  <ion-content class="backgroundCategories" ng-controller="AllFavoriteCtrl" ng-init="chats[$index -1].Category != chats[$index - 1].Category">
    <!-- Customer Info Container -->
    <div id="GeneralPaddingCols0" class="col" ng-repeat="favorite in chats">
      <a style="text-decoration:none;" nav-transition="none" ng-if="chats[$index].Category != chats[$index - 1].Category">
        <div class="row pageYourFavoritesGreyLine">
          <!-- Heart Icon -->
          <div id="GeneralPaddingCols0" class="col col-10 pageYourFavoritesIconHeart verticalAndHorizontalCenteredObjects">
            <spam class="home">B</spam>
          </div>
          <!-- Customer Name -->
          <div id="GeneralPaddingCols0" class="col col-75">
            <spam class="open_sans pageYourFavoritesStablishmentName verticalCenteredObjects">{{favorite.Category | commaBreak}}</spam>
          </div>
          <!-- Bigger Than Symbol -->
          <div id="GeneralPaddingCols0" class="col col-10 BiggerThanColorAndPosition verticalAndHorizontalCenteredObjects">
            <spam class="home">></spam>
          </div>
        </div>
      </a>
      <!-- Your Favorite Saved Container -->
      <div class="row row-border pageYourFavoritesWhiteBox" ng-if="chats[$index].Category != chats[$index - 2].Category">
        <div id="GeneralPaddingCols0" class="col col-80">
          <!-- Your Favorite Customer Title -->
          <p class="overFlowText pageYourFavoritesOffert">
            {{favorite.name}} - {{favorite.presentation}}
          </p>
          <!-- Promotional Price for Your Favorite -->
          <p class="pageYourFavoritesPriceOffert">
            Oferta - {{favorite.promotionalPrice | currency: 'Q'}}
          </p>
          <!-- Favorite Description for Your Favorite -->
          <p class="overFlowText pageYourFavoritesOffertDescription">
            {{favorite.description}}
          </p>
        </div>
        <!-- Pin Icon -->
        <div id="GeneralPaddingCols0" class="col pinIconContainer">
          <p class="home pageYourFavoritesIconPin" id="{{favorite.IDpromotion}}" ng-click="SalvadosSaveAndDelete('{{favorite.IDpromotion}}')"  style="color:{{favorite.ColorPin}}">
            W
          </p>
        </div>
      </div>
    </div>
    <!-- Doesn't exist Your Favorites -->
    <div ng-repeat="favorite in chats  | filter: {oferta : 'noHay'}" class="noExiste">
      <div class="open_sans">
        <!-- Donkey Icon -->
        <p class="home savedPageNoItemsIcon">
          f
        </p>
        <!-- Description -->
        <p class="savedPageNoItemsTitle">
          Uh-uH
        </p>
        <p class="savedPageNoItemsDescription">
          No tienes ningún elemento agregado a<br>
          esta lista. Agrega ofertas y cupones<br>
          para usarlos después.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
