<style>
    .bar.bar-positive    {
    	box-shadow: 0 0 0px white;
    }
</style>
<ion-view>
  <ion-header-bar id="positive" class="bar bar-subheader bar-positive positive">
		<!-- Offers and Coupons Tab with Popover -->
		<div class="row">

      <div id="GeneralPaddingCols" class="col col-50" style="margin-left:5px">
        <a class="pageOffertsOffertsTitle" nav-transition="none" href="#/app/tusFavoritos" >
          <div class="OffersAndCouponsTabText" style="color:white">
            Tus Favoritos
            <hr class="pageFavoritesLineDecorationOffers" style="color:white;background-color:white">
          </div>
        </a>
      </div>

			<div id="GeneralPaddingCols" class="col col-50"></div>

		</div>
	</ion-header-bar>

  <!-- Your Favorites Container -->
  <ion-content class="backgroundCategories" ng-controller="AllFavoriteCtrl" >
    <!-- Customer Info Container -->
    <div id="GeneralPaddingCols0" class="col" ng-repeat="customer in customers | filter:filterFavorite |orderBy:'-(QuantityCoupon + QuantityPromotion)'" >
      <a style="text-decoration:none;" nav-transition="none" >
        <div class="row pageYourFavoritesGreyLine">
          <!-- Heart Icon -->
          <div id="GeneralPaddingCols0" class="col col-10 pageYourFavoritesIconHeart verticalAndHorizontalCenteredObjects">
            <spam class="home">B</spam>
          </div>
          <!-- Customer Name -->
          <div id="GeneralPaddingCols0" class="col col-75">
            <spam class="open_sans pageYourFavoritesStablishmentName verticalCenteredObjects">{{customer.Name}}</spam>
          </div>
          <!-- Bigger Than Symbol -->
          <div id="GeneralPaddingCols0" class="col col-10 BiggerThanColorAndPosition verticalAndHorizontalCenteredObjects">
            <spam class="home">></spam>
          </div>
        </div>
      </a>
      <!-- Your Favorite Saved Container -->
      <div class="row row-border pageYourFavoritesWhiteBox" ng-repeat="promotion in promotions | filter:{'Provider': customer.Name, 'Status': true} | limitTo:2">
        <div id="GeneralPaddingCols0" class="col col-80">
          <!-- Your Favorite Customer Title -->
          <p class="overFlowText pageYourFavoritesOffert">
            {{promotion.Name}} - {{promotion.Presentation}}
          </p>
          <!-- Promotional Price for Your Favorite -->
          <p class="pageYourFavoritesPriceOffert">
            Oferta - {{promotion.PromotionalPrice | currency: 'Q'}}
          </p>
          <!-- Favorite Description for Your Favorite -->
          <p class="overFlowText pageYourFavoritesOffertDescription">
            {{promotion.PromotionDescription}}
          </p>
        </div>
        <!-- Pin Icon -->
        <div id="GeneralPaddingCols0" class="col pinIconContainer" ng-controller="pinCtrl">
          <p class="home pageYourFavoritesIconPin" id="{{promotion.$id}}" ng-click="changeColorPinCupon(promotion.$id)" style="color:{{pins[promotion.$id] ? 'purple':''}}">
            W
          </p>
        </div>
      </div>
      <div class="row row-border pageYourFavoritesWhiteBox" ng-repeat="cupon in coupons | filter:{'Provider': customer.Name, 'Status': true} | limitTo:1">
        <div id="GeneralPaddingCols0" class="col col-80">
          <!-- Your Favorite Customer Title -->
          <p class="overFlowText pageYourFavoritesOffert">
            {{cupon.Name}} - {{cupon.Presentation}}
          </p>
          <!-- Promotional Price for Your Favorite -->
          <p class="pageYourFavoritesPriceOffert">
            Cupón - {{cupon.CouponDiscount | currency: 'Q'}}
          </p>
          <!-- Favorite Description for Your Favorite -->
          <p class="overFlowText pageYourFavoritesOffertDescription">
            {{cupon.CouponDescription}}
          </p>
        </div>
        <!-- Pin Icon -->
        <div id="GeneralPaddingCols0" class="col pinIconContainer" ng-controller="pinCtrl">
          <p class="home pageYourFavoritesIconPin" id="{{cupon.$id}}" ng-click="changeColorPinCupon(cupon.$id)" style="color:{{cupon[promotion.$id] ? 'purple':''}}">
            W
          </p>
        </div>
      </div>
    </div>
    <!-- Doesn't exist Your Favorites -->
    <div ng-if="favoritesCount == 0" class="noExiste">
      <div class="open_sans">
        <!-- Donkey Icon -->
        <p class="home savedPageNoItemsIcon">
          f
        </p>
        <!-- Description -->
        <p class="savedPageNoItemsTitle">
          Uh-uH
        </p>
        <p class="savedPageNoItemsDescription">
          No tienes ningún elemento agregado a<br>
          esta lista. Agrega ofertas y cupones<br>
          para usarlos después.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
