<ion-view class="BackgroundColor ContentCenter">
  <style>
    .col {
      padding: 0px;
    }
    .ContentCenter .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
      margin-top: -30px; /* the height of the centered content */
      text-align: center;
    }
    .ContentCenter .scroll {
      display: table-cell;
      vertical-align: middle;
    }
  </style>
  <ion-content>
    <!--  style="align-items: center;display: flex;" -->
    <div class="container">
      <!-- Penguin Icon and Login Sesion Text -->
      <div class="row">
        <div class="col" style="text-align:center">
          <!-- Penguin Icon -->
          <img src="img/pinguino2.png" alt="" style="width:120px;height:120px">
          <!-- Login Sesion Text -->
          <div>
            <h4 class="SesionTitle" style="padding:0px;margin:0px">Inicia Sesión</h4>
          </div>
        </div>
      </div>
      <br>
      <!-- Facebook Login Button -->
      <div class="row">
        <div class="col" style="text-align:center">
          <div class="FacebookButtonLogin" ng-click="loginfb()" style="display:inline-block">
            <div class="" style="align-items:center;display:flex;height:60px;">
              <p class="FacebookTextLogin" style="display:inline-block;text-align:center;width:170px">Facebook</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Separate Line -->
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-33">
          <hr>
        </div>
        <div class="col" style="text-align:center;color:#FFFFFF;font-size:22px;">
          O
        </div>
        <div class="col col-33">
          <hr>
        </div>
        <div class="col col-10"></div>
      </div>
      <br>
      <!-- Frenzy Login Button -->
      <div class="row">
        <div class="col" style="text-align:center">
          <div class="EmailLogin" style="display:inline-block">
            <div class="" style="align-items:center;display:flex;height:55px;">
              <a href="#/login2" nav-transition="none" style="text-decoration:none;">
                <p class="singupTitle open_sans" style="text-align:center;width:170px;">Correo Electrónico</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
