<ion-view class="BackgroundColorLoginAndRegister LoginAndRegisterCenteredDiv">
  <ion-content>
    <div class="container" >
      <!-- Penguin Icon and Login Sesion Text -->
      <div class="row">
        <div class="col">
          <!-- Penguin Icon -->
          <img class="PenguinWidth" src="img/pinguino2.png" alt="Penguin2">
          <!-- Login Sesion Text -->
          <div>
            <h4 class="SesionTitle">Inicia Sesión</h4>
          </div>
        </div>
      </div>
      <br>
      <!-- Facebook Login Button -->
      <div class="row" ng-controller='loginCtrlFacebook'>
        <div class="col">
          <div class="FacebookButtonLogin inlineBlockDisplay" ng-click="loginfb()">
            <div class="FacebookButtonStyle">
              <p class="FacebookTextLogin">Facebook</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Diving Line -->
      <div class="row">
        <div class="col col-10"></div>
        <div class="col col-33">
          <hr>
        </div>
        <div class="col orTextLogin">
          O
        </div>
        <div class="col col-33">
          <hr>
        </div>
        <div class="col col-10"></div>
      </div>
      <br>
      <!-- Frenzy Login Button -->
      <div class="row" ng-controller='LoginCtrlEmail'>
        <div class="col">
          <div class="EmailLogin inlineBlockDisplay">
            <div class="loginButtonStyle">
              <a  class="redirectionStyleNone" nav-transition="none" href="#/login">
                <!-- signupTitle Style is found in login2.css -->
                <p class="singupTitle open_sans emailCenteredLoginAndRegister">Correo Electrónico</p><!--signUp class is found in login2.css-->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
