<ion-view>
	<ion-content class="generalBackgroundPoints">

    <div class="row" style="padding-top:5%;padding-bottom:7%" ng-if="TutorialActive.checked" >
      <div class="col center">
        <a class="styleRedirection" nav-transition="android" ng-click="FirstModal.show()">
          <div class="winAndChangePoints center">
            <div class="winAndChangePointsText open_sans verticalCentered">
              ¿Cómo gano y cambio puntos? {{TutorialActive}}
            </div>
          </div>
        </a>
      </div>
    </div>
		<!-- Customer Points Container -->
		<div class="row rowForCustomerAward" ng-repeat= 'point in crossPromotion'>
			<a class="styleRedirection" href="#/app/pointsDescription/{{point.$id}}">
				<div class="col whiteAwardContainer" style="">
					<!-- Logo With Name and Count of Gift for Exchange -->
					<div class="row customerAwardDescriptionContainer">
						<!-- Customer Logo -->
						<div class="col col-20">
							<div class="verticalCenteredObjects customerAwardImage">
								<img class="customerImageSize" ng-src="{{point.Logo}}" alt="" />
							</div>
						</div>
						<!-- Name Customer And Gifts-->
						<div class="col" style="padding:2%">
							<!-- Name -->
							<div class="row">
								<span class="open_sans awardTitle">{{point.Nombre}}</span>
							</div>
							<!-- Gift -->
							<div class="row">
								<span class="countAviableAwardText">{{point.countPromotion}} Premios Disponibles</span>
							</div>
						</div>
					</div>
					<!-- Count of Points -->
					<div class="row">
						<div class="col">
							<span class="PointsCountText">{{point.points}} puntos 	</span>
						</div>
					</div>
					<!-- Status Bar of the Points -->
					<div class="row">
						<div class="col col-90 pointBarGray">
							<div class="yourPointsBar" style="width:{{point.percentagePoints}}%"></div>
						</div>
						<div class="col col-10">
							<!-- Icon Star -->
							<span class="home iconStar">C</span>
						</div>
					</div>
					<!-- See More Container -->
					<div class="row seeMoreBar" style="">
						<div class="col col-90 verticalCenteredObjects">
							<span class="seeMoreText">VER MÁS</span>
						</div>
						<div class="col spacingTop5">
							<span class="home shareAwardIcon">O</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="row" style="padding:2%"></div>

		<!--**********  TRIANGLES TOP  **********-->
		<div class="pointsContainer zigzagPoints">
			<div class="row" style="padding-top:12%">
				<div class="col">
					<span class="home center clownIcon">P</span>
				</div>
			</div>
			<br>
			<!-- Text -->
			<div class="row">
				<div class="col winAndChangePointsText open_sans verticalCentered">
					¿No encontraste la marca que quieres?
				</div>
			</div>
			<!-- Input Name Get Customer -->
			<div class="row" style="padding-top:3%">
				<div class="col">
					<!-- The direct styles doesn't work good in css file -->
          <input type="text" placeholder="Marca" name="name" style="width:90%;display:inline-block;border-radius:10px 0px 0px 10px;font-family:Roboto;font-size:24px;color:#A7A9AC;height:41px">
					<!-- Go Button for the Code Promotion exchanged -->
          <button type="button" name="button" class="sendRequestCustomer">Enviar</button>
				</div>
			</div>
			<!-- Feedback Text  -->
			<div class="row" style="padding-top:3%">
				<div class="col center">
					<span style="color:white;font-family:Roboto, Helvetica,San Fransisco">¿Qué marca sugieres que Frenzy <br> debería tener?</span>
				</div>
			</div>
		</div>
		<!--**********  TRIANGLES DOWN  **********-->
	</ion-content>
</ion-view>
