<ion-view>
	<ion-content class="generalBackgroundPoints">

    <div class="row" style="padding-top:5%;padding-bottom:7%">
      <div class="col center">
        <a  style="text-decoration:none;width:100%" nav-transition="android" ng-click="FirstModal.show()">
          <div class="winAndChangePoints center">
            <div class="winAndChangePointsText open_sans verticalCentered">
              ¿Cómo gano y cambio puntos?
            </div>
          </div>
        </a>
      </div>
    </div>
		<!-- Customer Points Container -->
		<div class="row" style="padding-left:3%;padding-right:3%;padding-bottom:5%">
			<a href="#/app/pointsDescription" style="width:100%;text-decoration:none">
				<div class="col" style="background:white;border-radius:3px;box-shadow:1px 2px 5px #A7A9AC;padding-bottom:4%;padding:0 !important">
					<!-- Logo With Name and Count of Gift for Exchange -->
					<div class="row" style="padding-left:2% !important;padding-right:2% !important;">
						<!-- Customer Logo -->
						<div class="col col-20">
							<div class="verticalCenteredObjects" style="width:60px;height:60px;border:1px solid #A7A9AC;border-radius:4px;margin:0 auto">
								<img style="width:100%;border-radius:4px;padding:10%" src="img/dominos_logo.png" alt="" />
							</div>
						</div>
						<!-- Name Customer And Gifts-->
						<div class="col" style="padding:2%">
							<!-- Name -->
							<div class="row">
								<span class="open_sans" style="font-size:20px;color:#263147">Domino's Pizza</span>
							</div>
							<!-- Gift -->
							<div class="row">
								<span style="font-size:12px;color:#3F51B5;font-family:Roboto, Helvetica">2 Premios Disponibles</span>
							</div>
						</div>
					</div>
					<!-- Count of Points -->
					<div class="row" style="padding-left:3% !important;padding-right:3% !important">
						<div class="col">
							<span style="color:#A7A9AC;font-size:15px">72 Puntos</span>
						</div>
					</div>
					<!-- Status Bar of the Points -->
					<div class="row" style="padding-left:3% !important;padding-right:3% !important">
						<div class="col col-90" style="height:20px;background-color:#F1F2F2;border-radius:132px;margin-right:-2px;padding:0">
							<div class="" style="height:20px;width:50%;z-index:1;background:#FFD922;border-radius:132px"></div>
						</div>
						<div class="col col-10">
							<!-- Icon Star -->
							<span class="home" style="float:right;font-size:45px;color:#FFD922;margin-top:-4px">C</span>
						</div>
					</div>
					<!-- See More Container -->
					<div class="row" style="margin-top:1%;border-top:1px solid #E6E7E8;padding-left:3% !important;padding-right:3% !important;padding-bottom:0">
						<div class="col col-90 verticalCenteredObjects">
							<span style="color:#3F51B5;font-weight:bolder;font-size:16px">VER MÁS</span>
						</div>
						<div class="col" style="margin-top:5px">
							<span class="home" style="font-size:30px;color:#A7A9AC;">O</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		<!-- Customer Points Container -->
		<div class="row" style="padding-left:3%;padding-right:3%;padding-bottom:5%">
			<div class="col" style="background:white;border-radius:3px;box-shadow:1px 2px 5px #A7A9AC;padding-bottom:4%;padding:0 !important">
				<!-- Logo With Name and Count of Gift for Exchange -->
				<div class="row" style="padding-left:2% !important;padding-right:2% !important;">
					<!-- Customer Logo -->
					<div class="col col-20">
						<div class="verticalCenteredObjects" style="width:60px;height:60px;border:1px solid #A7A9AC;border-radius:4px;margin:0 auto">
							<img style="width:100%;border-radius:4px;padding:10%" src="img/Mcdonalds.jpg" alt="" />
						</div>
					</div>
					<!-- Name Customer And Gifts-->
					<div class="col" style="padding:2%">
						<!-- Name -->
						<div class="row">
							<span class="open_sans" style="font-size:20px;color:#263147">McDonald's</span>
						</div>
						<!-- Gift -->
						<div class="row">
							<span style="font-size:12px;color:#3F51B5;font-family:Roboto, Helvetica">3 Premios Disponibles</span>
						</div>
					</div>
				</div>
				<!-- Count of Points -->
				<div class="row" style="padding-left:3% !important;padding-right:3% !important">
					<div class="col">
						<span style="color:#A7A9AC;font-size:15px">380 Puntos</span>
					</div>
				</div>
				<!-- Status Bar of the Points -->
				<div class="row" style="padding-left:3% !important;padding-right:3% !important">
					<div class="col col-90" style="height:20px;background-color:#F1F2F2;border-radius:132px;margin-right:-2px;padding:0">
						<div class="" style="height:20px;width:90%;z-index:1;background:#FFD922;border-radius:132px"></div>
					</div>
					<div class="col col-10">
						<!-- Icon Star -->
						<span class="home" style="float:right;font-size:45px;color:#FFD922;margin-top:-4px">C</span>
					</div>
				</div>
				<!-- See More Container -->
				<div class="row" style="margin-top:1%;border-top:1px solid #E6E7E8;padding-left:3% !important;padding-right:3% !important;padding-bottom:0">
					<div class="col col-90 verticalCenteredObjects">
						<span style="color:#3F51B5;font-weight:bolder;font-size:16px">VER MÁS</span>
					</div>
					<div class="col" style="margin-top:5px">
						<span class="home" style="font-size:30px;color:#A7A9AC;">O</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="padding:2%"></div>

		<!--**********  TRIANGLES TOP  **********-->
		<div class="pointsContainer zigzagPoints">
			<div class="row" style="padding-top:12%">
				<div class="col">
					<span class="home center" style="color:#00DDC1;font-size:80px;margin-top:px">P</span>
				</div>
			</div>
			<br>
			<!-- Text -->
			<div class="row">
				<div class="col winAndChangePointsText open_sans verticalCentered">
					¿No encontraste la marca que quieres?
				</div>
			</div>
			<!-- Input Name Get Customer -->
			<div class="row" style="padding-top:3%">
				<div class="col">
					<!-- The direct styles doesn't work good in css file -->
          <input type="text" placeholder="Marca" name="name" style="width:90%;display:inline-block;border-radius:10px 0px 0px 10px;font-family:Roboto;font-size:24px;color:#A7A9AC;height:41px">
					<!-- Go Button for the Code Promotion exchanged -->
          <button type="button" name="button" class="sendRequestCustomer">Enviar</button>
				</div>
			</div>
			<!-- Feedback Text  -->
			<div class="row" style="padding-top:3%">
				<div class="col center">
					<span style="color:white;font-family:Roboto, Helvetica,San Fransisco">¿Qué marca sugieres que Frenzy <br> debería tener?</span>
				</div>
			</div>
		</div>
		<!--**********  TRIANGLES DOWN  **********-->
	</ion-content>
</ion-view>
