/********************  MEDIA QUERIES  *************************/
@media only screen and (min-device-width: 200px) and (max-device-width: 250px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: red;
        border-width: 3px;
    }
}
/**********************/
@media only screen and (min-device-width: 251px) and (max-device-width: 300px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: blue;
        border-width: 3px;
    }
}
/**********************/
@media only screen and (min-device-width: 301px) and (max-device-width: 350px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: orange;
        border-width: 3px;
    }
}
/**********************/
@media only screen and (min-device-width: 351px) and (max-device-width: 400px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: skyblue;
        border-width: 3px;
    }
    .mainFrenzyTitle {
        color: white;
        margin-top: 10px;
    }
}
/**********************/
@media only screen and (min-device-width: 401px) and (max-device-width: 450px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: purple;
        border-width: 3px;
    }
}
/**********************/
@media only screen and (min-device-width: 451px) and (max-device-width: 500px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: green;
        border-width: 3px;
    }
    .mainFrenzyTitle {
        font-size: 65px;
        margin-top: 5px;
    }
    .backButtomStyle {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 10px;
        color: green;
    }
}
/**********************/
@media only screen and (min-device-width: 501px) and (max-device-width: 550px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: black;
        border-width: 3px;
    }
    .boxResponsiveFavorites {
        height: calc(51vh * 1.33);
        width: 95%;
        margin-left: 10px;
        margin-top: 15px;
        box-shadow: 3px 3px 2px #BDBDBD;
        background-color: white;
    }
}
/**********************/
@media only screen and (min-device-width: 551px) and (max-device-width: 1000px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: grey;
        border-width: 3px;
    }
}
/**********************/
@media only screen and (min-device-width: 1001px) and (max-device-width: 2000px) {
    .bordeMediaQueri {
        border-style: solid;
        border-color: pink;
        border-width: 3px;
    }
}
/**************************  TIPOGRAFY **************************************/
@font-face {
    font-family: opensans;
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: letra;
    src: url(Bariol_Bold.otf);
}

.open_sans {
    font-family: letra;
}

@font-face {
    font-family: Iconos;
    src: url(BariolFrenzyIcons3.ttf);
}

.home {
    font-family: Iconos;
}
/*************************  TEXT CSS OVER FLOW  *****************************/
.overFlowText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*over flow with two lines */

.ellipsify {
    line-height: 18px;
    height: 32px;
    /* 3x line height */
    width: 100%;
    overflow: hidden;
    position: relative;
    /* so we're a positioning parent for the dot hiders */
    background: white;
}

.ellipsifyOffertsTwoLines {
    line-height: 18px;
    height: 33px;
    /* 2x line height */
    width: 100%;
    overflow: hidden;
    position: relative;
    /* so we're a positioning parent for the dot hiders */
    background: white;
}
.ellipsifyThreeLines {
    line-height: 18px;
    height: 57px;
    /* 3x line height */
    width: 100%;
    overflow: hidden;
    position: relative;
    /* so we're a positioning parent for the dot hiders */
    background: white;
}

/* Used to push down .dots. Can't use absolute positioning, since that
   would stop the floating. Can't use relative positioning, since that
   would cause floating in the wrong (namely: original) place. Can't
   change height of #dots, since it would have the full width, and
   thus cause early wrapping on all lines. */

.pre-dots {
    float: right;
    height: 18px;
    /* 2x line height (one less than visible lines) */
}

.pre-dots-threeLines {
    float: right;
    height: 20px;
    /* 2x line height (one less than visible lines) */
}

.pre-dots-threeLines-offerts {
    float: right;
    height: 28px;
    /* 2x line height (one less than visible lines) */
}

.dots {
    float: right;
    /* to make the text wrap around the dots */
    clear: right;
    color: #BDBDBD;
    margin-right: 20px;
    /* to push us below (not next to) .pre-dots */
}

.dots-threeLines {
    float: right;
    /* to make the text wrap around the dots */
    clear: right;
    color: #BDBDBD;
    margin-right: 5px;
    /* to push us below (not next to) .pre-dots */
}
/* hides the dots if the text has *exactly* 3 lines */
.hidedots1 {
    background: white;
    width: 150px;
    height: 18px;
    /* line height */
    position: absolute;
    /* otherwise, because of the width, it'll be wrapped */
}
/* hides the dots if the text has *less than* 3 lines */
.hidedots2 {
    background: white;
    width: 150px;
    height: 54px;
    /* 3x line height, to ensure hiding even if empty */
    position: absolute;
    /* ensures we're above the dots */
}
/************************  RESPONSIVE DIVS  *********************************/
[class*='relacion'] {} .relacion4-3 {
    height: calc(28vh * 1.33);
}
/***************  CLASS TO CENTERED VERTICAL AND HORIZONTAL  ****************/
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/****************************  GENERALY CSS STYLE  **************************/
/***** MAIN BAR COLOR STYLE *****/
.bar.bar-positive {
    border-color: #00BAB9;
    background-color: #00BAB9;
    border-style: none;
    box-shadow: 0 0 5px #888888;
    background-image: linear-gradient(0deg, #00BAB9, #00BAB9 50%, transparent 50%);
    color: #fff;
}

.title {
    color: white;
    margin-top: 3px;
    font-weight: bolder;
}

.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #00BAB9, #00BAB9 50%, transparent 50%);
}
/*****  BACK BUTTON STYLE  *****/
.backButtonStyle {
    margin-top: 25px;
    background-color: red;
    height: 30px;
}

.textDecorationNone {
    text-decoration: none;
}
/*******************  LOADER ICON EFFECT COUPON  *******************************/
.loader {
    position: absolute;
    left: 70px;
    width: 24.14213562373095px;
    height: 24.14213562373095px;
    margin-left: -12.071067811865476px;
    margin-top: -12.071067811865476px;
    border-radius: 100%;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.loader .side {
    display: block;
    width: 5px;
    height: 10px;
    background-color: #00bab9;
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.loader .side:nth-child(1),
.loader .side:nth-child(5) {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-name: rotate0;
    animation-name: rotate0;
}

.loader .side:nth-child(3),
.loader .side:nth-child(7) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-name: rotate90;
    animation-name: rotate90;
}

.loader .side:nth-child(2),
.loader .side:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-name: rotate45;
    animation-name: rotate45;
}

.loader .side:nth-child(4),
.loader .side:nth-child(8) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-animation-name: rotate135;
    animation-name: rotate135;
}

.loader .side:nth-child(1) {
    top: 12.071067811865476px;
    left: 24.14213562373095px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(2) {
    top: 20.606601715546386px;
    left: 20.606601715546386px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(3) {
    top: 24.14213562373095px;
    left: 12.071067811865476px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(4) {
    top: 20.606601715546386px;
    left: 3.535533908184565px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(5) {
    top: 12.071067811865476px;
    left: 0px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(6) {
    top: 3.535533908184565px;
    left: 3.535533908184565px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(7) {
    top: 0px;
    left: 12.071067811865476px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loader .side:nth-child(8) {
    top: 3.535533908184565px;
    left: 20.606601715546386px;
    margin-left: -2.5px;
    margin-top: -5px;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

@-webkit-keyframes rotate0 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes rotate0 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate90 {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotate90 {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes rotate45 {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@keyframes rotate45 {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    100% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}

@-webkit-keyframes rotate135 {
    0% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@keyframes rotate135 {
    0% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    60% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}